article.ly-section.vw-maintainer
  section.ig-container
    h1.vw-title Invoice Generator

    - formAction = editing ? '/' + invoice.slug + '/edit' : '/new'
    form.ig-form(
      action='/api/invoices' + formAction,
      method='post'
    )
      input.ive-half.ive-date(placeholder='DD-MM-YYYY', value=moment(invoice.date).format('DD-MM-YYYY'))
      input.ive-half.ive-slug(placeholder='invoice-0001', value=invoice.slug)

      section.ive-party-section.ive-from
        select.ive-customer-frequent
          option(value='') Use a frequent invoice customer party?
          each option in parties.customer
            option(value=option.slug)=option.title

        input.ive-party-name.ive-customer-name(placeholder='Sample Company', value=invoice.customer && invoice.customer.name)
        textarea.ive-party-details.ive-customer-details(placeholder='123 Strange St.')=invoice.customer && invoice.customer.details

      section.ive-party-section.ive-to
        select.ive-payment-frequent
          option(value='') Use a frequent invoice payment party?
          each option in parties.payment
            option(value=option.slug)=option.title

        input.ive-party-name.ive-payment-name(placeholder='Billing Name', value=invoice.payment && invoice.payment.name)
        textarea.ive-party-details.ive-payment-details(placeholder='Billing address and payment details')=invoice.payment && invoice.payment.details

      section.ive-items.ive-half
        header.ive-actions
          a.fa.fa-plus.ive-add-item

        each item in invoice.items
          include add-item

        if invoice.items.length === 0
          include add-item

      section.ive-half.ive-paid-container
        input.ck-input.ive-paid#ive-paid-invoice(type='checkbox', checked=invoice.paid)
        label.ck-checkbox(for='ive-paid-invoice') Paid

      footer.ive-footer.ive-actions
        a.ive-cancel.lk-link(href='/invoices', aria-label='Back to list of invoices') Cancel
        span(aria-label='Save this invoice')
          button.bt-button.bt-pink.ive-save(type='submit')
            span.bt-text=editing ? 'Save' : 'Create'

  section.ive-container
    include invoice
