article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title Article Composer
    section.ac-container
      input.ac-title(placeholder='A Thoughtful, Catchy Title', value=article.titleMarkdown)
      input.ac-slug(placeholder='a-thoughtful-catchy-title', value=article.slug)
      div
        textarea.wk-textarea.ac-text.ac-teaser(placeholder='Tease the reader about your article. Used for marketing, search snippets, etc.')=article.teaser
      div
        textarea.wk-textarea.ac-text.ac-introduction(placeholder='Write the introduction to the topics presented in your article. Included in emails.')=article.introduction
      div
        textarea.wk-textarea.ac-text.ac-body(placeholder='Main body of your article.')=article.body
      div
        textarea.wk-textarea.ac-text.ac-summary(placeholder='Short summary of the article. Used exclusively in list views.')=article.summary
      input.ac-tags(placeholder='Enter a list of tags relevant to this article', value=article.tags.join(' '))

    - publication = moment(article.publication)
    - publicationFormat = 'DD-MM-YYYY HH:mm'
    - published = article.status === 'published'

    aside.ac-aside
      if !published
        p You can save the article as a draft, publish it, or slate it for publication at a later date
        p.ac-timing-item
          input.ck-input.ac-status#ac-draft-radio(type='radio', name='ac-status', value='draft', checked=article.status === 'draft')
          label.ck-radio(for='ac-draft-radio') Draft
        p.ac-timing-item
          input.ck-input.ac-status#ac-publish-radio(type='radio', name='ac-status', value='publish', checked=article.status === 'publish' || article.status === void 0)
          label.ck-radio(for='ac-publish-radio') Publish
        p.ac-timing-item
          input.ck-input.ac-schedule#ac-schedule-checkbox(type='checkbox', checked=!!article.publication)
          label.ck-checkbox(for='ac-schedule-checkbox') Schedule
          input.ac-publication(value=publication.format(publicationFormat), placeholder=publicationFormat)

        p What mediums do you want to use to promote the article?
        p.ac-campaign-item
          input.ck-input#ac-campaign-email(type='checkbox', checked=article.email !== false)
          label.ck-checkbox(for='ac-campaign-email') Send an email
        p.ac-campaign-item
          input.ck-input#ac-campaign-tweet(type='checkbox', checked=article.tweet !== false)
          label.ck-checkbox(for='ac-campaign-tweet') Post a Tweet
        p.ac-campaign-item
          input.ck-input#ac-campaign-fb(type='checkbox', checked=article.fb !== false)
          label.ck-checkbox(for='ac-campaign-fb') Share on Facebook
        p.ac-campaign-item
          input.ck-input#ac-campaign-echojs(type='checkbox', checked=article.echojs !== false)
          label.ck-checkbox(for='ac-campaign-echojs') Submit to EchoJS
        p.ac-campaign-item
          input.ck-input#ac-campaign-hn(type='checkbox', checked=article.hn !== false)
          label.ck-checkbox(for='ac-campaign-hn') Submit to Hacker News
        p.ac-campaign-item
          input.ck-input#ac-campaign-lobsters(type='checkbox', checked=article.lobsters !== false)
          label.ck-checkbox(for='ac-campaign-lobsters') Submit to Lobste.rs

      section.ac-preview-summary

    article.ac-preview.md-markdown
      h1.ac-preview-title.dc-title
      section.at-teaser
        div.ac-preview-teaser.at-teaser-markdown
      section.ac-preview-introduction.at-introduction
      section.ac-preview-body.at-body

    footer.ac-actions
      if editing
        a.lk-rainbows.ac-cancel(aria-label='Back to list of articles', href='/author/articles') Cancel
      a.lk-rainbows.ac-discard(aria-label='Your draft will be permanently deleted') Discard Draft
      span(aria-label='Make the content immediately accessible!')
        button.gg-container.bt-button.bt-pink.ac-save(type='submit')
          span.bt-text Publish
          include ../../partials/button-background

  include ../../partials/aside
