- userIsEditor = roles.owner || roles.editor
article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title Article Review
    header.ar-actions
      if roles.owner
        a.ar-action.lk-icon.fa.fa-calculator.ar-recompute(href='/owner/articles/compute', aria-label='Recompute related articles')
      a.ar-action.lk-icon.fa.fa-pencil-square-o(href='/articles/new', aria-label='Prepare a fresh draft')
    table.ar-container
      thead
        tr
          th
          th Title
          th Condition
          if userIsEditor
            th Sharing
          th Actions
      tbody
        each article in articles
          tr
            td(data-label='Author')
              if article.author.slug
                a.lk-icon.fa.fa-male(href!='/contributors/' + article.author.slug, aria-label='See author profile')
            td(data-label='Title')
              a.ar-title.lk-rainbows(href!=article.permalink, aria-label='Navigate to full article')!=article.titleHtml
            td(data-label='Condition', class='ar-status ar-status-' + article.status)
              include ../../partials/estimate
            if userIsEditor
              td.ar-sharing(data-label='Sharing')
                - share = '/api/articles/' + article.slug + '/share'
                form.ar-share(action=share + '/email-self', method='post')
                  button.lk-icon.fa.fa-envelope-o.ar-share-button(aria-label='Send yourself a test email about this article')
                if article.status === 'published'
                  form.ar-share(action=share + '/email', method='post')
                    button.lk-icon.fa.fa-envelope.ar-share-button(aria-label='Send out an email about this article')
                  form.ar-share(action=share + '/twitter', method='post')
                    button.lk-icon.fa.fa-twitter.ar-share-button(aria-label='Post to Twitter')
                  form.ar-share(action=share + '/facebook', method='post')
                    button.lk-icon.fa.fa-facebook-official.ar-share-button(aria-label='Share on Facebook Page')
                  form.ar-share(action=share + '/echojs', method='post')
                    button.lk-icon.fa.fa-coffee.ar-share-button(aria-label='Submit to EchoJS')
                  form.ar-share(action=share + '/hackernews', method='post')
                    button.lk-icon.fa.fa-hacker-news.ar-share-button(aria-label='Submit to Hacker News')
                  form.ar-share(action=share + '/lobsters', method='post')
                    button.lk-icon.fa.fa-ship.ar-share-button(aria-label='Submit to Lobste.rs')
            td.ar-buttons(data-label='Actions')
              if article.status === 'draft' || userIsEditor
                a.ar-button.lk-icon.fa.fa-pencil(href='/articles/' + article.slug + '/edit', aria-label='Edit this article')
                a.ar-button.lk-icon.fa.fa-remove.ar-remove(aria-label='Delete this article', data-slug=article.slug)

  include ../../partials/aside
