section#prompt-image-template.template
  article.dialog.markdown-prompt-dialog
    a.action.close(title='Close')='Close'
    header.dialog-title
      h1.underline='Insert Image'

    section.dialog-body
      p='http://example.com/images/diagram.jpg "optional title"'
      p
        input.prompt-input(type='text', placeholder='Type or paste the url to your image')

    footer.dialog-buttons
      a.close(title='Cancel')='Cancel'
      button.button.small.ok-button='OK'