article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title Weekly Assembler

    article.wa-editor

    aside.wa-aside
      div.wa-toolbox.gu-candidate
        div.wa-tool.fa.fa-header(data-tool='header')=' Header'
        div.wa-tool.fa.fa-keyboard-o(data-tool='markdown')=' Markdown'
        div.wa-tool.fa.fa-anchor(data-tool='links')=' Links'
        div.wa-tool.fa.fa-envelope(data-tool='styles')=' Styles'

    footer.wa-actions
      if editing
        a.lk-rainbows.wa-cancel(aria-label='Back to list of weeklies', href='/author/articles') Cancel
      a.lk-rainbows.wa-discard(aria-label='Your draft will be permanently deleted') Discard Draft
      span(aria-label='Save this ')
        button.gg-container.bt-button.bt-pink.wa-save(type='submit')
          span.bt-text Save
          include ../../partials/button-background

    article.wa-preview
      div.wy-container
        div.wy-header
          span.wy-header-text Pony Foo Weekly
          span.wy-issue
            span Issue #N
            span=' \u2014 '
            span Month, Year

  include ../../partials/aside
