option(value='transparent', selected=selectedColor === 'transparent') Transparent
option(value='#000', selected=selectedColor === '#000') Black
option(value='#333', selected=selectedColor === '#333') Black Text
option(value='#555', selected=selectedColor === '#555') Black Light
option(value='#1a4d7f', selected=selectedColor === '#1a4d7f') Blue
option(value='#55acee', selected=selectedColor === '#55acee') Twitter Blue
option(value='#5aa9bc', selected=selectedColor === '#5aa9bc') Light Turquoise
option(value='#1686a2', selected=selectedColor === '#1686a2') Dark Turquoise
option(value='#6ecce2', selected=selectedColor === '#6ecce2') Bright Turquoise
option(value='#cbc5c0', selected=selectedColor === '#cbc5c0') Gray
option(value='#999', selected=selectedColor === '#999') Dark Gray
option(value='#37ed2c', selected=selectedColor === '#37ed2c') Green
option(value='#1bc211', selected=selectedColor === '#1bc211') Dark Green
option(value='#e4f9e3', selected=selectedColor === '#e4f9e3') Dark Green 01
option(value='#8BE186', selected=selectedColor === '#8BE186') Dark Green 05
option(value='#c3f0c1', selected=selectedColor === '#c3f0c1') Light Green
option(value='#f2fcf2', selected=selectedColor === '#f2fcf2') Green 005
option(value='#f3f3f3', selected=selectedColor === '#f3f3f3') Light
option(value='#fefaf6', selected=selectedColor === '#fefaf6') Light Orange
option(value='#f8ab6f', selected=selectedColor === '#f8ab6f') Orange
option(value='#f8c68d', selected=selectedColor === '#f8c68d') Orange 06
option(value='#fcf8f5', selected=selectedColor === '#fcf8f5') Orange 005
option(value='#f3720d', selected=selectedColor === '#f3720d') Orange Dark
option(value='#e92c6c', selected=selectedColor === '#e92c6c') Pink
option(value='#f4a5c0', selected=selectedColor === '#f4a5c0') Pink Light
option(value='#fceaf0', selected=selectedColor === '#fceaf0') Pink 01
option(value='#fbf2f5', selected=selectedColor === '#fbf2f5') Pink 005
option(value='#900070', selected=selectedColor === '#900070') Purple
option(value='#f7f0f5', selected=selectedColor === '#f7f0f5') Purple 005
option(value='#ff0056', selected=selectedColor === '#ff0056') Red
option(value='#fcf0f4', selected=selectedColor === '#fcf0f4') Red 005
option(value='#fcfcfc', selected=selectedColor === '#fcfcfc') White
option(value='#f1e05a', selected=selectedColor === '#f1e05a') Yellow
option(value='#f4e98c', selected=selectedColor === '#f4e98c') Yellow 075
option(value='#f8f2bc', selected=selectedColor === '#f8f2bc') Yellow 04
option(value='#fbf7db', selected=selectedColor === '#fbf7db') Yellow 03
option(value='#fbf9ec', selected=selectedColor === '#fbf9ec') Yellow 01
option(value='#fcfbf5', selected=selectedColor === '#fcfbf5') Yellow 005
option(value='#ffe270', selected=selectedColor === '#ffe270') Yellow Highlight
option(value='#fee68b', selected=selectedColor === '#fee68b') Yellow Highlight 08
option(value='#fef2c5', selected=selectedColor === '#fef2c5') Yellow Highlight 04
