- code = Math.random().toString(18).substr(2)
- tags = section.tags || []
- unknownTags = tags.filter(function (t) { return !knownTags[t] })
div.wa-section(data-tool='link')
  div(class='wa-section-header gu-candidate' + (section.subtype ? ' wa-link-header-' + section.subtype : ''))
    span.wa-section-heading.fa.fa-anchor
      span=' Link'
      span.wa-link-preview.md-markdown.md-markdown-inline
    span.wa-section-remove.fa.fa-remove
    span.wa-section-toggle.fa.fa-compress
    span.wa-section-clone.fa.fa-clone
  div.wa-section-contents.uv-hidden
    input.wa-link-href.wa-input-75(placeholder='Paste your link here', value=section.href, data-last-scraped=section.href)

    select.wa-link-subtype.wa-input-25
      option(value='original', selected=!section.subtype || section.subtype === 'original') Original
      option(value='suggestion', selected=section.subtype === 'suggestion') Suggestion
      option(value='primary', selected=section.subtype === 'primary') Primary Sponsorship
      option(value='secondary', selected=section.subtype === 'secondary') Sponsored Link
      option(value='job', selected=section.subtype === 'job') Job Listing

    input.wa-input-50.wa-link-title(placeholder='What would you like the link title to be?', value=section.title)
    span.wa-input-50.wa-color-picker
      - foreground = section.foreground || '#e92c6c'
      - background = section.background || 'transparent'
      span.wa-color-preview.fa-stack.fa-lg
        span.fa.fa-square.fa-stack-2x(style='color:' + background)
        span.fa.fa-font.fa-stack-1x(style='color:' + foreground)
      select.wa-color-select.wa-link-foreground(data-target='.fa-stack-1x')
        - this.selectedColor = foreground
        include color-options
      select.wa-color-select.wa-link-background(data-target='.fa-stack-2x')
        - this.selectedColor = background
        include color-options

    input.wa-link-source.wa-input-50(placeholder='Author or source for this link?', value=section.source)
    input.wa-link-source-href.wa-input-50(placeholder='A link to the author or source?', value=section.sourceHref)

    span.wa-link-image-container.wa-input-50
      div.bx-input
        input.wa-link-image(placeholder='Link to an image', value=section.image)
        span.wa-link-image-preview-container
          img.wa-link-image-preview.uv-hidden(alt='')
          span.wa-toggler.wa-link-image-left.fa.fa-arrow-left.uv-hidden
          span.wa-toggler.wa-link-image-right.fa.fa-arrow-right.uv-hidden
      div.bx-icon
        div.fa.fa-picture-o
        input.bx-fileinput(type='file')
    span.wa-link-tags-container.wa-input-50
      input.wa-link-tags(placeholder='Tags that describe the link', value=unknownTags.join(' '))
      a.wa-link-toggle-tags.wa-toggler.lk-icon.fa.fa-adjust.fa-rotate-90

    div.wa-link-tag-list.uv-hidden
      div.wa-input-25.wa-link-checkbox-wrapper
        input.wa-link-sponsored.ck-input(id='wa-sponsored-link-' + code, type='checkbox', checked=section.sponsored)
        label.ck-checkbox(for='wa-sponsored-link-' + code) Sponsored

      each knownTag in Object.keys(knownTags)
        div.wa-input-25.wa-link-checkbox-wrapper
          input.wa-link-tag.ck-input(id='wa-sponsored-link-' + code +'-kt-' + knownTag, type='checkbox', checked=tags.indexOf(knownTag) !== -1, value=knownTag)
          label.ck-checkbox(for='wa-sponsored-link-' + code +'-kt-' + knownTag)=knownTags[knownTag].label

    div
      textarea.wa-link-description.wk-textarea(placeholder='Enter a description here')!=section.description
