section#entry-editor-template.template(data-class='entry-editor')
  h1='Entry Editor'

  section#entry-editor
    p
      input#entry-title(type='text', value='{{entry.title}}', placeholder='Write a descriptive title')

    div#wmd-button-bar-brief.wmd-button-bar
    div
      textarea#wmd-input-brief.wmd-input(placeholder='Write a brief introduction to your post')='{{entry.brief}}'

    div#wmd-button-bar-text.wmd-button-bar
    div
      textarea#wmd-input-text.wmd-input(placeholder='Write the article here')='{{entry.text}}'

  article#entry-preview.blog-entry
    header.blog-entry-title
      h1

    section#wmd-preview-brief.blog-entry-brief
    section#wmd-preview-text.blog-entry-text

  div#entry-editor-buttons
    a#cancel-entry='Cancel'
    button#submit-entry.button(data-id='{{entry._id}}', data-text='{{submit.text}}', data-text-disabled='{{submit.disabled}}')='{{submit.text}}'