section#entry-review-template.template(data-class='entry-review')
  h1='Entry Review'

  table
    thead
      tr
        th='Date'
        th='Title'
        th
    tbody
      // {{#entries}}
      tr.entry-row(data-id='{{_id}}')
        td='{{dateText}}'
        td.title
          a.highlighted-link(href='{{permalink}}')='{{title}}'
        td
          a.action.edit(title='Edit', href='/blogger/entry/{{_id}}')='Edit'
          a.action.remove(title='Remove')='Remove'
      // {{/entries}}