section#entry-review-template.template(data-class='entry-review')
  h1='Entry Review'

  table
    thead
      tr
        th='Date'
        th='Title'
        th
    tbody
      // {{#entries}}
      tr.entry-row(data-id='{{_id}}')
        td='{{date}}'
        td.title='{{title}}'
        td
          a.edit(title='Edit', href='/author/entry/{{_id}}')='Edit'
          a.remove(title='Delete')
      // {{/entries}}