section#entry-review-template.template(data-class='entry-review')
  h1='No Posts'
  div='There are no blog posts to review.'

  table
    thead
      tr
        th='Date'
        th='Title'
        th
    tbody
      tr
        td='{{date}}'
        td='{{title}}'
        td
		  a.edit='Edit'
          a.remove