!!! 5

html(lang='en', ng-app='docsApp', ng-controller='DocsController')
  head
    include /src/frontend/views/metadata

    meta(name='fragment', content='!')
    meta(name='description', content="Pony Foo is an open blogging platform that\'s designed with maximum transparency in mind. It aims to be beautiful, yet powerful and fully customizable. We place utmost importance in user experience, both for bloggers and their reader base.")

    title(ng-bind-template='{{partialTitle}} - Pony Foo')='Documentation - Pony Foo'

    // remove if you want angular to get nasty
    base(href=config.server.authorityDocs)

    != assetify.css.emit()
    link(href='http://fonts.googleapis.com/css?family=Roboto|Roboto:300|Roboto:900', rel='stylesheet')

    // we don't want to be flashing Angular logic
    != assetify.js.emit()

  body
    div.content-wrapper
      div.navbar
        div.navbar-inner
          div.row-fluid
            ul.nav
              li(ng-repeat='(url, name) in sections', ng-class='{active: isActivePath(url)}')
                a(ng-href='{{url}}')
                  span='{{name}}'

      div.container-fluid
        div.row-fluid
          div.span3
            div.search-label='Documentation Topics'
            form.form-search(ng-submit='submitForm()')
              div.dropdown.search(ng-class='{open: focused && bestMatch.rank > 0 && bestMatch.page != currentPage}')
                p.search-box.clearfix
                  label.search-icon.fui-search(for='search-input')
                  input.search-query#search-input(type='text', ng-model='search', placeholder='search the docs', accesskey='s', focused='focused')

                ul.dropdown-menu
                  li
                    a(href='{{bestMatch.page.url}}')='{{bestMatch.page.shortName}}'

              ul.nav.nav-list(ng-hide='page')
                li(ng-repeat='page in pages track by page.url', ng-class='navClass(page)')
                  a(href='{{page.url}}')='{{page.shortName}}'

              ul.nav.nav-list(ng-repeat='module in modules track by module.url')
                li.nav-header.module
                  a.guide(href='{{URL.module}}')='module'
                  a.code(href='{{module.url}}')='{{module.name}}'

                li.nav-header.section(ng-show='module.directives')
                  a.guide(href='{{URL.directive}}')='directive'

                li(ng-repeat='page in module.directives track by page.url', ng-class='navClass(page)', ng-animate="'expand'")
                  a(href='{{page.url}}')='{{page.shortName}}'

                li.nav-header.section(ng-show='module.filters')
                  a.guide(href='{{URL.filter}}')='filter'

                li(ng-repeat='page in module.filters track by page.url', ng-class='navClass(page)', ng-animate="'expand'")
                  a(href='{{page.url}}')='{{page.shortName}}'

                li.nav-header.section(ng-show='module.services')
                  a.guide(href='{{URL.service}}')='service'

                li(ng-repeat='service in module.services track by service.instance.url', ng-class='navClass(service.instance, service.provider)', ng-animate="'expand'")
                  a.pull-right(ng-show='service.provider', href='{{service.provider.url}}')
                    i.icon-cog

                  a(href='{{service.instance.url}}')='{{service.name}}'

                li.nav-header.section(ng-show='module.types')
                  a.guide(href='{{URL.type}}')='Types'

                li(ng-repeat='page in module.types track by page.url', ng-class='navClass(page)', ng-animate="'expand'")
                  a(href='{{page.url}}')='{{page.shortName}}'

                li.nav-header.section(ng-show='module.globals')
                  a.guide.global(href='{{URL.api}}')='global APIs'

                li(ng-repeat='page in module.globals track by page.url', ng-class='navClass(page)', ng-animate="'expand'")
                  a(href='{{page.url}}')='{{page.id}}'

          div.span9
            ul.breadcrumb
              li(ng-repeat='crumb in breadcrumb')
                span(ng-hide='crumb.url')='{{crumb.name}}'
                a(ng-show='crumb.url', href='{{crumb.url}}')='{{crumb.name}}'
                span.divider(ng-show='crumb.url')='/'

            div#loading(ng-show='loading')='Loading...'
            div.content(ng-hide='loading || notFound', ng-include, src='currentPage.partialUrl', onload='afterPartialLoaded()', autoscroll, ng-animate="{enter: 'slide-reveal'}")
            div.notFound(ng-show='notFound && !loading')

            div#disqus.disqus(ng-hide='loading || notFound')
              h2.disqus-title='Discussion'
              div#disqus_thread.content-panel-content

      div.push

    footer.container-fluid.container-footer
      div.row-fluid
        div.span12
          div.footer
            include /src/frontend/views/platform-links