section#authentication-required-template.template
  section.authentication-required
    p
      span='To {{action}}, please '
      a(href='/user/login')='log in'
      span=' (or '
      a(href='/user/register')='register'
      span=' if you don\'t have an account yet)'

    p
      em='No typing required!'