section#file-upload-template.template
  section.upload-area
    p.upload-drop-text='Drop here to begin upload'

    p.upload-progress-text='Uploading file...'

    section.upload-form
      // {{#legend}}
      p.upload-legend='{{{legend}}}'
      // {{/legend}}
      // {{^legend}}
      p.upload-legend
        span='Or, upload one. '
        em='You can also drag and drop over here.'
      // {{/legend}}
      input.upload-input(type='file', name='file')