- themeColor = '#e92c6c'

//- https://mathiasbynens.be/notes/touch-icons#sizes
link(rel='icon', sizes='192x192', href='/touch-icon-192x192.png')
link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
link(rel='apple-touch-icon-precomposed', sizes='180x180', href='/apple-touch-icon-precomposed.png')

//- png favicons
link(rel='icon', type='image/png', sizes='194x194', href='/favicon-194x194.png')
link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')

//- theme colors and corner-case icons
meta(name='theme-color', content=themeColor)
meta(name='apple-mobile-web-app-status-bar-style', content=themeColor)
meta(name='msapplication-navbutton-color', content=themeColor)
meta(name='msapplication-TileColor', content=themeColor)
meta(name='msapplication-TileImage', content='/apple-touch-icon-144x144-precomposed.png')
link(rel='icon', type='image/png', sizes='192x192', href='/android-chrome-192x192.png')
link(rel='mask-icon', href='/mask-grayscale-512x512.min.svg', color=themeColor)
