extends ../layouts/minimal

block title
  title='NBrut Installation'

block body
  header.layout-header.clearfix
    section.layout-heading
      h1.layout-title="'Hello NBrut';"
      h2.layout-legend='Quickly set up NBrut in your server environment'

  main#content
    h1='Form Time!'

    if flash.validation
      ul.validation-errors
        li= flash.validation

    section.setup
      form(method='post', action='/api/1.0/blog/claim')
        fieldset
          p
            label(for='email')='Email Address'
            input#email.field(type='text', name='user.email', placeholder='Provide your email address')
          p
            label(for='password')='Password'
            input#password.field(type='password', name='user.password', placeholder='Choose your password')
          p
            label(for='title')='Blog Title'
            input#title.field(type='text', name='blog.title', placeholder='Pick a blog name')
          p.setup-buttons
            input.submit(type='submit', value='.submit();')

    hr

    section.happy-talk.markdown
      :markdown
        # Is that _it_? #

        In the extremely unlikely case you have _no clue_ what you've been doing, this is [**NBrut**](https://github.com/bevacqua/NBrut "Repository on GitHub"). **NBrut** is a blogging platform that allows users to create their own blogs easily.

        **NBrut** is different in that it focuses primarily on providing a _smooth user experience_, a reasonable _user interface_ and is aimed to _technical blogging_, providing access to the [**Markdown**](http://daringfireball.net/projects/markdown/ "Markdown Language") syntax.

        Fill out the form and we'll be on our way.

        # Troubleshooting #

        If this page isn't styled, it probably means that you are trying to set up _a different top level domain_ than the default. In this case, you should check [**ENV.md**](https://github.com/bevacqua/NBrut/blob/master/ENV.md), which holds all the documentation regarding environment variables and their purpose.

      p='The default tld is "' + config.server.defaultTld + '"'

    article.configuration.markdown
      section.environment-variables
        header
          a.visit-github.hint(href='https://github.com/bevacqua/NBrut/blob/master/ENV.md', data-hint='Check out the latest documentation on GitHub')='Latest documentation on GitHub'

        !=md.env

      section.project-tags
        header
          a.visit-github.hint(href='https://github.com/bevacqua/NBrut/blob/master/TAGS.md', data-hint='Check out the latest documentation on GitHub')='Latest documentation on GitHub'

        !=md.tags