h1.vw-title Article Composer
section.ac-container
  input.uv-text-input.ac-title(placeholder='A Thoughtful, Catchy Title', value=article.title)
  input.uv-text-input.ac-slug(placeholder='a-thoughtful-catchy-title', value=article.slug)
  div.ac-text.ac-introduction(placeholder='Introduction to your article. Used for marketing, search snippets, etc.', data-markdown=article.introduction)
  div.ac-text.ac-body(placeholder='Main body of your article', data-markdown=article.body)
  input.uv-text-input.ac-tags(placeholder='Enter a list of tags relevant to this article', value=article.tags.join(' '))
  article.ac-preview.md-markdown
    h1.ac-preview-title.at-title
    span.ac-preview-read
  section.ac-preview-tags
aside.ac-timing
  if article.status !== 'published'
    p.ac-timing-draft
      input.ck-input.ac-status#ac-draft-radio(type='radio', name='ac-status', value='draft', checked=article.status === 'draft')
      label.ck-radio(for='ac-draft-radio') Draft
    p.ac-timing-immediate
      input.ck-input.ac-status#ac-publish-radio(type='radio', name='ac-status', value='publish', checked=article.status === 'publish' || article.status === void 0)
      label.ck-radio(for='ac-publish-radio') Publish
    p.ac-timing-schedule
      input.ck-input.ac-schedule#ac-schedule-checkbox(type='checkbox', checked=!!article.publication)
      label.ck-checkbox(for='ac-schedule-checkbox') Schedule
      input.ac-publication(value=article.publication)
  else
    p='Published ' + moment(article.publication).fromNow()

footer.ac-actions
  if editing
    a.ac-cancel(aria-label='Back to Author Review', href='/author/review') Cancel
  a.ac-discard(aria-label='Your draft will be permanently deleted') Discard Draft
  button.ac-save(aria-label='Make the content immediately accessible!') Publish
