include /_flash

h1.vw-title Archives
ol.av-container
  each article in articles
    - pub = moment(article.publication)
    - longDate = 'dddd Do, MMMM YYYY [at] HH:mm'

    li.av-article
      a(href!=article.permalink, aria-label='Tagged: ' + article.tags.join(', '))=article.title
      time.av-duration=' [' + moment.duration(article.readingTime, 'seconds').humanize() + '] '
      span=' published '
      time.av-publication(datetime=pub.format(), aria-label=pub.format(longDate))=pub.fromNow()
      span=' under '
      include ../partials/tags
