- longDate = 'dddd Do, MMMM YYYY [at] HH:mm'
- when = moment(article.publication)
- whenText = when.format(longDate)
- modified = moment(article.updated)
- created = moment(article.created)

article.at-article(itemscope, itemtype='http://schema.org/BlogPosting')
  meta(itemprop='dateCreated', content=created.format())
  meta(itemprop='datePublished', content=when.format())
  meta(itemprop='dateModified', content=modified.format())
  meta(itemprop='keywords', content=article.tags.join(','))
  meta(itemprop='discussionUrl', content=env.authority + article.permalink + '#comments')
  meta(itemprop='interactionCount', content=article.comments.length + ' UserComments')

  header.at-header.uv-clearfix
    h1.at-title
      a.at-title-link(href=article.permalink, aria-label='Tagged: ' + article.tags.join(', '), itemprop='headline')=article.title

    span.at-meta
      span='reading time: '
      time(aria-label='Estimated, you\'re probably faster than that!')=moment.duration(article.readingTime, 'seconds').humanize()
      span=', published '
      time(aria-label='Published ' + whenText, datetime=when.format())=when.fromNow()

  section(itemprop='articleBody')
    section.md-markdown(itemprop='about')!=article.introductionHtml

    if full
      section.md-markdown!=article.bodyHtml
    else
      section
        a(href=article.permalink) Read the full article

  footer
    if full && article.related.length
      section.at-related
        p Related articles
        ul
          each related in article.related
            li
              a(href=related.permalink, data-hint='Navigate to related article!')=related.title

    span.at-tags-label='Tagged: '
    include ../partials/tags

    if full
      section.at-siblings
        if article.prev
          a.at-prev(href=article.prev.permalink, rel='prev', data-hint='Navigate to previous article!')=article.prev.title

        if article.next
          a.at-next(href=article.next.permalink, rel='next', data-hint='Navigate to next article!')=article.next.title

if full
  include comments
