- longDate = 'dddd Do, MMMM YYYY [at] HH:mm'
- when = require('moment')(article.publication)
- whenText = when.format(longDate)

article(itemscope, itemtype='http://schema.org/BlogPosting')
  meta(itemprop='dateCreated', content=whenText)
  meta(itemprop='keywords', content=article.tags.csv)
  //- meta(itemprop='discussionUrl', content=env('AUTHORITY') + article.permalink + '#comments')
  //- meta(itemprop='interactionCount', content=article.commentCount + ' UserComments')

  header
    h1
      a(href=article.permalink, aria-label='Tagged: ' + article.tags.join(', '), itemprop='headline')=article.title

    //- include _social

    span(aria-label='Published ' + whenText)='Published ' + when.fromNow()


  section(itemprop='articleBody')
    section(itemprop='about')!=article.introductionHtml

    if full
      section!=article.bodyHtml
    else
      section
        a(href=article.permalink) Read the full article

  footer
    //- section.comment-count
    //-  a.hint-before(href!=article.commentsLink, aria-label='Visit the discussion section')=article.commentsText
    if full
      section.at-related
        p Read also...
        ul
          each related in article.related
            li
              a(href=related.permalink, data-hint='Navigate to related article!')=related.title

    include ../partials/tags

    if full
      section.at-siblings
        if article.prev
          a.at-prev(href=article.prev.permalink, rel='prev', data-hint='Navigate to previous article!')=article.prev.title

        if article.next
          a.at-next(href=article.next.permalink, rel='next', data-hint='Navigate to next article!')=article.next.title
