section#comments.mm-comments
  each comment in article.comments
    article.mm-comment.ly-section
      header.mm-author
        if comment.site
          a.mm-author-site(href!=comment.site, aria-label=comment.site.replace(/https?:\/\//, ''))
            span.mm-author-name=comment.author
            img.mm-gravatar(src=comment.gravatar + '&s=24', alt='')
        else
          span.mm-author-name=comment.author
          img.mm-gravatar(src=comment.gravatar + '&s=24', alt='')

      section.mm-content.md-markdown!=comment.contentHtml

  footer.mm-comment-create.ly-section
    section.mc-container
      div.mc-author
        input.mc-name(placeholder='John Doe')
        input.mc-email(placeholder='hello@johndoe.io')
        input.mc-site(placeholder='johndoe.io (optional)')
      div.mc-content
      article.mc-preview.md-markdown
      button.mc-send Publish Comment
