- first = articles[articles.length - 1]
- firstPub = moment(first.publication)

article.ly-section
  h1.vw-title Archives
  section
    p
      span='Reading every article published '
      time.av-since(datetime=firstPub.format())=firstPub.format('[since] MMMM YYYY')
      span=' would take you approximately '
      time.av-total-duration=moment.duration(total, 'seconds').humanize()
      span !

    ol.av-container
      each article in articles
        - pub = moment(article.publication)
        - longDate = 'dddd Do, MMMM YYYY [at] HH:mm'

        li.av-article
          time.av-date(datetime=pub.format())=pub.format('DD-MM-YYYY')
          a.av-link(href!=article.permalink, aria-label='Tagged: ' + article.tags.join(', '))=article.title
          span.av-connector
            span!=' &mdash; published '
            time.av-publication(datetime=pub.format(), aria-label=pub.format(longDate))=pub.fromNow()
            span=', under '
            include ../partials/tags
