- longDate = 'dddd Do, MMMM YYYY [at] HH:mm'
- when = article.publication
- modified = moment(article.updated)
- created = moment(article.created)
- published = article.status === 'published'

header.at-header.dc-header
  h1.at-title.dc-heading(itemprop='headline')!=article.titleHtml

  section.at-teaser.dc-role
    div.at-teaser-markdown.md-markdown!=article.teaserHtml

section.at-container.de-host
  div.de-column
    article.at-article.ly-section(itemscope, itemtype='http://schema.org/BlogPosting')
      meta(itemprop='dateCreated', content=created.format())
      meta(itemprop='dateModified', content=modified.format())
      meta(itemprop='datePublished', content=when.datetime)
      meta(itemprop='keywords', content=article.tags.join(','))
      meta(itemprop='discussionUrl', content=authority + article.permalink + '#comments')

      - commentCount = article.commentCount
      if commentCount
        meta(itemprop='interactionCount', content=commentCount + ' UserComments')

      section.at-corpus(itemprop='articleBody')
        if article.editorNoteHtml
          section.md-markdown.at-editor-note!=article.editorNoteHtml
        section.md-markdown.at-introduction(itemprop='about')!=article.introductionHtml
        section.md-markdown.at-body!=article.bodyHtml

      footer.at-siblings.an-siblings.uv-clearfix
        if article.prev
          a.lk-rainbows.an-anchor.an-prev(href='/articles/' + article.prev.slug, rel='prev', aria-label='Read the previous article!')!='« ' + article.prev.titleHtml
        if article.next
          a.lk-rainbows.an-anchor.an-next(href='/articles/' + article.next.slug, rel='next', aria-label='Read the next article!')!=article.next.titleHtml + ' »'

    form.ly-section.ss-container.at-subscribe.wt-cta(action='/api/subscribers', method='post', name='subscribe')
      div.ss-label
        ='Liked the article? Subscribe below to get an email when new articles come out! Also, follow '
        a.lk-link.lk-twitter(href='https://twitter.com/ponyfoo', target='_blank') @ponyfoo
        =' on Twitter.'

      div.ss-label.ss-unsubscribe
        sub
          span One-click unsubscribe, anytime.
          span=' '
          a.lk-link(href='/subscribe', aria-label='Subscribe to our mailing list') Learn more.

      noscript
        input.uv-verify(name='verify', value='Promise not to be a bot? Clear this field!', placeholder='This field is only for tricksters...')

      input.ss-source(type='hidden', name='source', value='article')
      input.wt-input.ss-input(placeholder='you@provider.io', name='subscriber', type='email')

      span.wt-submit(aria-label='As easy as clicking this button and confirming via email!')
        button.bt-button.bt-pink.ss-button(type='submit')
          span.bt-text Subscribe

    if published || user
      - this.parent = article
      - this.parentType = 'articles'
      include ../comments/all

  include ../partials/aside
