ol.aa-articles
  each article in articles
    - pub = article.publication
    - count = article.commentCount
    li.aa-article.dc-colored
      h2.aa-title
        a.aa-title-link.lk-visitor(href='/articles/' + article.slug)!=article.titleHtml
      section.aa-summary
        div.md-markdown.md-markdown-summary!=article.summaryHtml
        a.aa-continue.lk-visitor(href='/articles/' + article.slug) Read full article
      section.aa-trivia
        div.aa-trivia-item
          time(datetime=pub.datetime, aria-label=pub.title)='on ' + pub.text.toLowerCase()
        div.aa-trivia-item
          span=moment && moment.duration(article.readingTime, 'seconds').humanize().replace(/s$/, '')
          span=' read'
        div.aa-trivia-item
          a.aa-comments.lk-link.lk-black(href='/articles/' + article.slug + '#comments')=count + ' comment' + (count === 1 ? '' : 's')
      section.aa-tags
        include ../partials/tags
      if article.cover
        footer.aa-cover-footer
          a.aa-cover-link(href='/articles/' + article.slug)
            img.aa-cover-image.js-only(data-src=article.cover, alt='')
            noscript
              img.aa-cover-image(src=article.cover, alt='')
