ol.aa-articles
  each article in articles
    - pub = article.publication
    - count = article.commentCount
    li.aa-article
      h2.aa-title
        a.aa-visit(href='/articles/' + article.slug)=article.title
      div.aa-summary
        div=article.summary
        a.aa-continue(href='/articles/' + article.slug) (continued)
      div.aa-trivia
        div.aa-trivia-item
          time(datetime=pub.datetime, aria-label=pub.title)='on ' + pub.text.toLowerCase()
        div.aa-trivia-item
          span=moment.duration(article.readingTime, 'seconds').humanize().replace(/s$/, '')
          span=' read'
        div.aa-trivia-item
          a.aa-comments(href='/articles/' + article.slug + '#comments')=count + ' comment' + (count === 1 ? '' : 's')
      span.aa-tags
        include ../partials/tags
