section.mm-comment.ly-section(id='comment-' + comment._id.toString(), data-comment=comment._id.toString())
  header.mm-author
    if user === article.author.toString()
      a.mm-remove.ic-icon.ic-remove(aria-label='Remove')

    -  site = comment.site && comment.site.replace(/https?:\/\//, '');
    if site
      a.mm-author-site(href!=comment.site, aria-label=site, rel='nofollow', target='_blank')
        img.mm-gravatar(src=comment.gravatar + '&s=24', alt='')
        span.mm-author-name=comment.author
    else
      img.mm-gravatar(src=comment.gravatar + '&s=24', alt='')
      span.mm-author-name=comment.author

  section.mm-content.md-markdown!=comment.contentHtml
