mixin author
  img.mm-gravatar.js-only(data-src=comment.gravatar + '&s=24', alt='')
  noscript
    img.mm-gravatar(src=comment.gravatar + '&s=24', alt='')
  span.mm-author-name=comment.author

section.mm-comment.ly-section(id='comment-' + comment._id, data-comment=comment._id)
  header.mm-author
    if user === article.author.toString()
      a.mm-remove.ic-icon.ic-remove(aria-label='Remove')

    -  site = comment.site && comment.site.replace(/https?:\/\//, '');
    if site
      a.mm-author-site(href!=comment.site, aria-label=site, rel='nofollow', target='_blank')
        +author
    else
      +author

  section.mm-content.md-markdown!=comment.contentHtml
