article.ly-section
  h1.vw-title.dc-title.dc-title-text Article Publication History
  section.hy-container.de-host
    div.de-column
      div.hy-lesson.md-markdown
        p
          span I first started developing the blogging engine for Pony Foo around mid-2012. I had just read
          span=' '
          a(href='https://amzn.to/1Fwinou', target='_blank') The Pragmatic Programmer
          span=' '
          span and I was looking for a challenge. I built the engine using Node.js and that's how I got into server-side JavaScript. I really enjoyed publishing articles on a blog, even though &mdash; for a long time &mdash; nobody read what I published. Eventually people started reading the blog, and nowadays some people even go as far as to read minutiae about how the blog came to be. I find that immensely rewarding. Not long after I started blogging I decided to write a book about
          span=' '
          a(href='https://bevacqua.io/buildfirst', target='_blank') JavaScript Application Design
          span , which was published in February, 2015.
        p
          span Reading every article ever published on Pony Foo &mdash; there's
          span=' ' + articles.length + ' '
          span of them &mdash; would take you approximately
          span=' '
          span.hy-total-duration=moment.duration(total, 'seconds').humanize()
          span . You better get to it!

      ol.hy-items
        each article in articles
          - pub = article.publication
          li.hy-article
            span.hy-title.lk-rainbows
              a.hy-article-link.lk-visitor-before(href!=article.permalink)!=article.titleHtml
            span.hy-connector
              span!=' &mdash; published '
              time.hy-publication(datetime=pub.datetime, aria-label=pub.title)='on ' + pub.text
              span.hy-tags
                span=', under '
                include ../partials/tags

      div.hy-lesson.md-markdown
        p
          span If you'd like to learn more about my work you could visit
          span=' '
          a(href='https://bevacqua.io', target='_blank') my about page
          span .

    include ../partials/aside
