a(href=config.server.authorityMarket, title='View our documentation')='www'
a(href=config.server.authorityDocs, title='View our documentation')='docs'
a(href=config.server.authorityBlog, title='Visit our blog, inception!')='blog'
a(href=config.pkg.homepage, target='_blank', title='Visit ponyfoo on GitHub')='github'

if config.contact.twitter.url
  a(href=config.contact.twitter.url, target='_blank', title=config.contact.twitter.handle + ' on twitter')='twitter'

if config.contact.email.to
  a(href=config.contact.email.to, target='_blank', title='Contact us by email')='email'

if config.site.displayVersion
  span.version=config.site.version

if config.contact.gittip.widget
  span.gittip-btn
    iframe.gittip-frame(src=config.contact.gittip.widget, width='48pt', height='22pt')

a.tweet-btn.twitter-share-button(
  href='https://twitter.com/share',
  data-count='none',
  data-via='ponyfoo',
  data-related='ponyfoo,nzgb',
  data-align='right')='Tweet'
