header.dc-header
  h1.dc-heading Books
  div.dc-role I write books about JavaScript and the web platform. I also love to read!

article.de-host
  section.de-column
    article.bk-history.md-markdown
      p
        span='I started blogging '
        a(href='/articles/pony-foo-begins', aria-label='Pony Foo Begins') around early 2013
        span='. Over half a year later I became increasingly interested in writing a book, and that interest eventually materialized as my first book: '
        a(href='/books/javascript-application-design', aria-label='JavaScript Application Design: a build-first approach') JavaScript Application Design
        span . You can find out more about the book by clicking on its cover. As new book projects are announced they'll be added to this page so that you can learn more about them.

    article.bk-books
      a.bk-book.dc-colored(href='/books/javascript-application-design')
        img.bk-cover-image(src='/img/javascript-application-design.jpg', alt='')
        sub.bk-cover-footnote
          strong (2015)
          span=' Build processes and code quality in the JavaScript environment. '
          span.bk-link-tease Learn more!

    article.bk-reads.md-markdown
      p
        span='I also love to read books '
        em='\u2014 physical books, in particular. '
        span='I keep a log of all the books I own, as well as my reading progress, '
        a(href='https://github.com/bevacqua/reads', target='_blank') on GitHub
        span . You will find some very interesting reads there! My interests are not purely limited to programming books. Instead, you'll find a good mixture of books about art, design, product development, marketing, startups, life stories, and &mdash; yes, technical books &mdash; about programming languages, databases, performance, web development, and AI. If you have any recommendations, I’d love for you to share them on the GitHub repository linked above.

  include ../partials/aside

