section#sidebar-subscribe-template.template
  section#blog-subscriptions.blog-sidebar-item
    header
      h5.underline='Subscribe!'

    section
      p='Receive blog updates directly in your email! No spam.'
      // {{^connected}}
      p
        input(type='email', name='email', placeholder='Enter your email address')
      // {{/connected}}
      p
        button='Subscribe!'

    p
      span='Subscribe using our feed'

      if blog.social.rss
        a.social.rss(title='Subscribe to my RSS feed', target='_blank', href=blog.social.rssXml)='RSS Feed'
      