div
  a(href!=article.permalink)
    h1=article.title

p(style='background-color: #fff; padding: 8px; border-bottom: 2px solid #e92c6c;')
  -  site = comment.site.replace(/https?:\/\//, '');
  if site
    a(href!=site)
      img(src='cid:gravatar', alt='', style='vertical-align: middle;')
      span=' ' + comment.author
  else
    img(src='cid:gravatar', alt='', style='vertical-align: middle;')
    span=' ' + comment.author
  span=' posted a new comment!'

div(style='padding: 20px; background-color: #efefef;')!=comment.content

p
  span='Reply using '
  a(href!=domain.authority + comment.permalink) this link
  span .
