article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title Newsletter Review
    header.ar-actions
      if roles.owner
        if level === 'info'
          span.wr-level.ck-checkbox.ck-checked Watching
        else
          span.wr-level.ck-checkbox Not Watching

        if live
          span.wr-live.ck-checkbox.ck-checked Cron Job
        else
          span.wr-live.ck-checkbox Cron Job
      a.ar-action.lk-icon.fa.fa-pencil-square-o(href='/weekly/new', aria-label='Prepare a fresh draft')
    table.wr-container
      thead
        tr
          th
          th Created
          th Last Update
          th Title
          th Condition
          th Sharing
          th Actions
      tbody
        each issue in weeklies
          tr
            td.usr-avatar(data-label='Profile')
              if issue.author.slug
                a.av-website(href='/contributors/' + issue.author.slug, aria-label='See author profile')
                  img.av-avatar(src=issue.author.avatar, alt='')
              else
                img.av-avatar(src=issue.author.avatar, alt='')
            td(data-label='Created')
              time(datetime=issue.created.datetime, aria-label=issue.created.title)='On ' + issue.created.text
            td(data-label='Last Update')
              time(datetime=issue.updated.datetime, aria-label=issue.updated.title)='On ' + issue.updated.text
            td(data-label='Title')
              a.ar-title.lk-rainbows(href=issue.permalink, aria-label='Navigate to newsletter issue')
                if issue.titleHtml
                  span.md-markdown.md-markdown-inline!=issue.titleHtml
                else
                  span=issue.title
            td(data-label='Condition')
              include ../../partials/newsletter-condition
            td.ar-sharing(data-label='Sharing')
              - share = '/api/weeklies/' + issue.slug + '/share'
              form.ar-share(action=share + '/email-self', method='post')
                button.lk-icon.fa.fa-envelope-o.ar-share-button(aria-label='Send yourself a test email for this newsletter issue')
              if issue.shareable
                form.ar-share(action=share + '/twitter', method='post')
                  button.lk-icon.fa.fa-twitter.ar-share-button(aria-label='Post to Twitter')
                form.ar-share(action=share + '/facebook', method='post')
                  button.lk-icon.fa.fa-facebook-official.ar-share-button(aria-label='Share on Facebook Page')
                form.ar-share(action=share + '/echojs', method='post')
                  button.lk-icon.fa.fa-coffee.ar-share-button(aria-label='Submit to EchoJS')
                form.ar-share(action=share + '/hackernews', method='post')
                  button.lk-icon.fa.fa-hacker-news.ar-share-button(aria-label='Submit to Hacker News')
            td.ar-buttons(data-label='Actions')
              a.ar-button.lk-icon.fa.fa-pencil.wr-edit(href='/weekly/' + issue.slug + '/edit', aria-label='Edit this newsletter issue')
              a.ar-button.lk-icon.fa.fa-remove.wr-remove(aria-label='Delete this newsletter issue', data-slug=issue.slug)

  include ../../partials/aside
