section#user-profile-edit-template.template
  span.profile-edit-notice='(editing)'
  h1='{{profileTitle}}'

  article.user-profile-card
    img.user-gravatar.large(data-src='{{gravatar.large}}')

    section.user-profile-info
      p
        label.label(for='user-password')='password'
        input.user-password#user-password(type='password', placeholder='{{passwordPlaceholder}}')

      p
        label.label(for='website-title')='website title'
        input.website-title#website-title(placeholder='Your site title', value='{{website.title}}')

      p
        label.label(for='website-url')='website url'
        input.website-url#website-url(placeholder='Your site url', value='{{website.url}}')

      p
        label.label(for='comment-notifications')='comment notifications'
        input.checkbox-input#comment-notifications.comment-notifications(type='checkbox', checked='{{commentNotifications}}')
        label.checkbox(for='comment-notifications')='Enable'

  div#wmd-button-bar-bio.wmd-button-bar
  div
    textarea#wmd-input-bio.wmd-input(placeholder='You can leave your bio here')='{{bio}}'

  article#wmd-preview-bio.markdown.markdown-preview

  section.profile-edit-actions
    a#profile-edit-cancel='Cancel'
    button#profile-edit-submit.button(data-id='{{_id}}', data-text='Save Edits', data-text-disabled='Saving...')='Save Edits'