mixin pager
  section.an-siblings.uv-clearfix
    if links.prev
      a.lk-link.lk-teal.an-anchor.an-prev(href=links.prev.href + '#read', rel='prev', aria-label='Go to the previous chapter') « #{links.prev.title}
    if links.next
      a.lk-link.lk-teal.an-anchor.an-next(href=links.next.href + '#read', rel='next', aria-label='Go to the next chapter') #{links.next.title} »

include partials/header
include partials/navigation

article.de-host
  section.de-column.bok-container.ocha-print
    include partials/cover

    div.bok-description
      include partials/trivia

      div.md-markdown
        | !{data.summaryHtml}
        | !{data.linksHtml}

    article.ocha-container
      header.ocha-actions
        +pager

      section#read(class='ocha-read' + (unlocked ? '' : ' ocha-read-locked'))
        h3.ocha-id Chapter #{chapterId}
        div(class='md-markdown ocha-contents' + (unlocked ? ' sp-item' : ' ocha-contents-locked'))!=chapter.html

        if !unlocked
          div.ocha-unlock-wrapper
            div.ocha-unlock-container
              a.ocha-unlock.bt-button.bt-teal(href='/books/#{slug}/unlock?chapter=#{chapterId}', data-taunus-ignore)
                span.fa.fa-twitter
                span=' '
                span Unlock
                span.ocha-unlock-longer=' with a Single Tweet'
                span !

              div.ocha-unlock-note
                sub
                  em
                    span='Grants you full online access to '
                    strong #{data.title}
                    span !

      if unlocked
        footer.ocha-actions
          +pager

    if unlocked
      div.tk-presentations-link
        a.tk-presentations-anchor(href='/books/#{slug}/chapters#toc') Back to Table of Contents

  include ../../partials/aside

if unlocked
  div.sp-line-wrapper.uv-hidden
    div.sp-line
