include partials/header
include partials/navigation

article.de-host
  section.de-column.bok-container
    include partials/cover

    div.bok-description
      include partials/trivia

      div.md-markdown
        | !{data.summaryHtml}
        | !{data.linksHtml}

    div.bok-toc
      h2.bok-toc-header.bok-header#toc Table of Contents
      div.otoc-container!=tableOfContentsHtml

    if firstChapter
      footer.tk-presentations-link
        a.tk-presentations-anchor(href=firstChapter.href + '#read') Start with the first chapter: #{firstChapter.title}

  include ../../partials/aside
