include partials/header
include partials/navigation

article.de-host
  section.de-column.bok-container
    include partials/cover

    div.bok-description
      include partials/trivia

      div.md-markdown!=data.summaryHtml

      div.bok-read-tease
        h3
          span='This book is '
          a.lk-rainbows.c-oreilly-teal(href='/books/#{slug}/chapters#toc', aria-label='Read the HTML version online for free!') completely free to read online!

      div.md-markdown!=data.linksHtml

    div.md-markdown!=home

    footer.tk-presentations-link
      a.tk-presentations-anchor(href='/books/#{slug}/chapters#toc', aria-label='Read the HTML version online for free!') Check out the Table of Contents!

  include ../../partials/aside
