section.iv-container
  a.iv-logo(href='https://ponyfoo.com')
    img(src='/img/logos/original-padded-text-white.png', alt='')

  h1.he-customer='#' + invoice.slug
  h2.he-date=invoice.date.text

  article.ff-details
    section.ff-client
      header.iv-header Customer:
      if invoice.customer
        section.md-markdown!=invoice.customer.nameHtml
        section.md-markdown!=invoice.customer.detailsHtml
    section.ff-billing
      if invoice.paid
        header.iv-header Payment Received by:
      else
        header.iv-header Please Send Payment to:
      if invoice.payment
        section.md-markdown!=invoice.payment.nameHtml
        section.md-markdown!=invoice.payment.detailsHtml

  table.iv-table
    thead.iv-head
      tr
        th.bl-summary Summary
        th.bl-number Quantity
        th.bl-number Rate
        th.bl-number Subtotal
    tbody
      each item in invoice.items
        tr.iv-item
          td.bl-summary
            section.md-markdown.md-markdown-inline!=item.summaryHtml
          td.bl-number=item.amount
          td.bl-number=item.rateMoney
          td.bl-number=item.priceMoney
    tfoot.iv-foot
      tr
        td.bl-total-label(colspan='3') Total amount due
        td.bl-total-amount.bl-number=invoice.totalMoney

  footer
    div.ty-thanks Thank You!
    div
      span='We\'d love for you to '
      a.lk-link(href='mailto:testimonials@ponyfoo.com') send us a testimonial
      span=' describing how you liked our work.'

  if invoice.paid
    section.iv-paid
      span.iv-paid-text PAID!
