article.ly-section
  header.dc-header.vw-title
    h1.dc-heading
      a.lk-link.lk-black.lk-clean(href='/weekly', aria-label='One email about the web every thursday.') Pony Foo Weekly
      span=' Publication History'
    div.dc-role Every Pony Foo Weekly newsletter issue ever published on Pony Foo can be found listed here

  include navigation

  section.hy-container.de-host
    div.de-column.wl-container
      h2.wl-top Past Issues

      ol.hy-items
        if any
          each issue in issues
            li.hy-article
              span.hy-title
                a.hy-article-link.lk-visitor-inside.lk-rainbows(href='/weekly/' + issue.slug)
                  if issue.titleHtml
                    span.lk-visitor-target.md-markdown.md-markdown-inline!=issue.titleHtml
                  else
                    span.lk-visitor-target=issue.title
              span.hy-connector
                span!=' &mdash; published '
                time.hy-publication(datetime=issue.publication.datetime, aria-label=issue.publication.title, data-absolute)=issue.publication.text
        else
          li.hy-article
            span Nothing has been published yet. Hurry up, subscribe to
            span=' '
            a.lk-link.lk-black.lk-clean(href='/weekly', aria-label='One email about the web every thursday.') Pony Foo Weekly
            span !

      include cta

    include ../partials/aside
