header.dc-header.vw-title
  h1.dc-heading Pony Foo Weekly
  div.dc-role A newsletter about the open web, highlighting the most important news about the web every thursday

include navigation

article.de-host
  section.de-column.wl-container
    p.wl-top Pony Foo Weekly is a newsletter discussing interesting and trending topics around the web platform. It comes out once a week, on thursdays.

    if any
      p.wl-teaser
        span='Check out '
        a.lk-link(href='/weekly/last') the latest issue
        span=' of Pony Foo Weekly to get an idea of what the newsletter is like.'
    else
      p.wl-teaser
        strong Pony Foo Weekly
        span=' '
        span hasn’t launched yet! Subscribe below and get ahead of the pack.

    p.wl-sample
      img(src='/img/ponyfooweekly-sample.png', alt='')

    include cta

    h2 Got Tips?

    p
      span We are always looking for great articles and inspiration to share with our subscribers. If you have something you’d like us to consider,
      span=' '
      a.lk-link(data-email='mailto:tips@ponyfoo.com', target='_blank') please let us know!

    h2 Sponsorship Opportunities

    p
      span='If you’d like to collaborate, you could make a contribution on '
      a.lk-link(href='/s/patreon', target='_blank') Patreon
      span=' or more directly, via '
      a.lk-link(href='/s/paypal', target='_blank') PayPal
      span .

    p
      span Verified patrons will receive Pony Foo Weekly
      span=' '
      strong a full day before everyone else &mdash; on wednesdays
      span . To become a verified patron, pledge
      em=' $2 or more '
      span='on '
      a.lk-link(href='/s/patreon', target='_blank') Patreon
      span . Ensure your Patreon email and your Pony Foo Weekly email are the same.

    p
      span='For sponsorship opportunities, reach us '
      a.lk-link(data-email='mailto:sponsor@ponyfoo.com', target='_blank') via email
      span='. We have great engagement rates and over a thousand subscribers. Given that we are a small team, we will probably be able to accomodate your wants and needs. We keep track of '
      a.lk-link(href='/subscribe', target='_blank') a few statistics
      span=' about our subscribers.'

  include ../partials/aside
