header.dc-header.vw-title
  h1.dc-heading
    span=issue.name
    span=' \u2014 '
    a.lk-link.lk-black.lk-clean(href='/weekly', aria-label='One email about the web every thursday.') Pony Foo Weekly
  div.dc-role
    span='This issue was originally published on '
    time(datetime=issue.publication.datetime, aria-label=issue.publication.title, data-absolute)=issue.publication.text

include navigation

article.de-host
  section.de-column.wl-container
    p.wl-top.wl-intro
      span Below, you can find the Pony Foo Weekly newsletter issue #
      span=issue.slug
      span . It was sent to our subscribers
      span=' '
      time(datetime=issue.publication.datetime, aria-label=issue.publication.title)='on ' + issue.publication.text
      span .

    div.wl-issue
      include ../partials/newsletter-issue

    div.wl-cta
      include cta

    if issue.status === 'released'
      - this.parent = issue
      - this.parentType = 'weeklies'
      include ../comments/all

  include ../partials/aside
