article.ly-section
  header.dc-header.vw-title
    h1.dc-heading
      a.lk-link.lk-black.lk-clean(href='/weekly', aria-label='One email about the web every thursday.') Pony Foo Weekly
      span=' Sponsorship Opportunities'
    div.dc-role Learn about our sponsorship opportunities and advertise with us!

  include navigation

  section.hy-container.de-host
    div.de-column.wl-container
      h2.wl-top Sponsorship Opportunities

      p
        span We have prepared a media kit you can use to learn about our sponsorship tiers, pricing, and insertion models. You
        span=' '
        a.lk-link(href='/weekly/sponsor/mediakit.pdf') can download it here
        span .

      p
        a.ws-cta(href='/weekly/sponsor/mediakit.pdf') Download our sponsorship media kit

      p
        span='For sponsorship opportunities, reach us '
        a.lk-link(data-email='mailto:sponsor@ponyfoo.com', target='_blank') via email
        span='. We have great engagement rates and thousands of subscribers. Given that we are a small team, we will probably be able to accomodate your wants and needs. We keep track of '
        a.lk-link(href='/subscribe', target='_blank') a few statistics
        span=' about our subscribers.'

      include cta

    include ../partials/aside
