section#prompt-link-template.template
  article.dialog.markdown-prompt-dialog
    a.action.close(title='Close')='Close'
    header.dialog-title
      h1.underline='Insert Link'

    section.dialog-body
      p='http://example.com/ "optional title"'
      p
        input.prompt-input(type='text', placeholder='Type or paste the url to your link', data-focus)

    footer.dialog-buttons
      a.close(title='Cancel')='Cancel'
      button.button.small.ok-button='OK'