!!! 5

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=config.site.title
    meta(name="description", content=config.site.description)
    meta(name="author", content=config.author.email)
    meta(name="viewport", content='width=device-width, initial-scale=1')

    include shared/og

    link(rel='alternate', type='application/rss+xml', href=config.feed.proxy)
    link(rel='shortcut icon', href='/favicon.ico')
    !=assetify.css.emit(profile)

  body
    header.layout-header
      h1.layout-heading
        a#home(href='/')=config.site.title

      block menu

    section#content(data-flash=flash.json)
      include shared/spinner

    include shared/ribbon
    include shared/404

    include main/entries
    include main/empty
    include main/exhausted
    include main/siblings
    include main/pager
    include main/more

    block templates

    !=assetify.js.emit(profile)
