section.blogger-description!=blog.descriptionHtml

if blog.social
  footer.social-links
    p='Feel free to follow me through the following services'

    if blog.social.github
      a.social.github(title='Follow me on GitHub', target='_blank', href=blog.social.github)='GitHub'

    if blog.social.stackoverflow
      a.social.stackoverflow(title='Follow me on Stack Overflow', target='_blank', href=blog.social.stackoverflow)='Stack Overflow'

    if blog.social.linkedin
      a.social.linkedin(title='Follow me on LinkedIn', target='_blank', href=blog.social.linkedin)='LinkedIn'

    if blog.social.email
      a.social.email(title='Contact me via email', target='_blank', href='mailto:' + blog.social.email)='Email'

    if blog.social.rss
      a.social.rss(title='Subscribe to my RSS feed', target='_blank', href=config.feed.proxy)='RSS Feed'