// {{#entries}}
article.blog-entry
  header.blog-entry-title
    h1
      a(href='{{permalink}}')='{{title}}'
    span.blog-entry-date(data-hint='posted {{dateText}}')='posted {{timeAgo}}'

  section.markdown.blog-entry-brief.og-description='{{{html.brief}}}'
  section.markdown.blog-entry-text='{{{html.text}}}'

  footer.blog-entry-footer
    p.comment-count
      a(href='{{commentsLink}}')='Comments'
// {{/entries}}