// {{#entries}}
article.blog-entry(data-keywords='{{keywords}}')
  header.blog-entry-title
    h1
      a(href='{{permalink}}', data-hint='{{tagged}}')='{{title}}'
    span.blog-entry-date(data-hint='posted {{dateText}}')='posted {{timeAgo}}'

  section.markdown.blog-entry-brief.og-description='{{{html.brief}}}'
  section.markdown.blog-entry-text='{{{html.text}}}'

  footer.blog-entry-footer.clearfix
    section.comment-count
      a.highlighted-link.hint-before(href='{{commentsLink}}', data-hint='Visit the discussion section')='{{commentsText}}'

    // {{#tagged}}
    section.blog-entry-tags
      span='Tagged:'
      // {{#_tags}}
      a.tag(href='/search/tagged/{{.}}', data-hint='Find posts tagged "{{.}}"').highlighted-link='{{.}}'
      // {{/_tags}}
    // {{/tagged}}

// {{/entries}}