section.blog-navigation-suggestions
  p
    span='Try one of the posts in the '
    i='Latest Posts'
    span=' section, or go back to the '
    a.highlighted-link(href='/', title=config.site.title)='site home'
    span='.'
  p
    span='Please '
    b="don't leave me! "
    span=':('