section#blogger-tools-template.template(data-class='blogger-tools')
  h1='Tools'

  a.tool-section(href='/blogger/blog')
    section.tool-icon
      span.tool.blog='Configure Blog'

    section.tool-description
      header.highlighted-link='Configure blog'
      p='Update your description, social links, and tweak your preferences.'

  a.tool-section(href='/blogger/entry')
    section.tool-icon
      span.tool.write='Write Post'

    section.tool-description
      header.highlighted-link='Compose post'
      p='Put together a new post, pick tags for it, and publish it on your blog!'

  a.tool-section(href='/blogger/entry/review')
    section.tool-icon
      span.tool.review='Review Posts'

    section.tool-description
      header.highlighted-link='Review posts'
      p='Quick access to every blog post you wrote. Update or delete existing posts.'

  a.tool-section(href='/blogger/discussions')
    section.tool-icon
      span.tool.comments='Review Discussions'

    section.tool-description
      header.highlighted-link='Review discussions'
      p='View discussion threads and comments in blog posts you wrote. Moderate inappropriate comments.'

  a.tool-section(href='/blogger/users')
    section.tool-icon
      span.tool.users='Users'

    section.tool-description
      header.highlighted-link='Users'
      p='Examine the list of affiliated users, view their profiles and keep track of them.'