article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title Link Submissions
    header.ar-actions
      a.ar-action.lk-icon.fa.fa-pencil-square-o(href='/weekly/submissions', aria-label='Create a new link submission')
    table.wur-container
      thead
        tr
          th
          th.tm-time-cell Created
          th Title
          th.bg-badge-cell Type
          th.bg-badge-cell Status
          th Actions
      tbody
        each submission in submissions
          tr
            td.usr-avatar(data-label='Avatar')
              a.av-website(data-email='mailto:' + submission.email, target='_blank')
                img.av-avatar(src=submission.avatar, alt='')
            td.tm-time-cell(data-label='Created')
              time(datetime=submission.created.datetime, aria-label=submission.created.title)='On ' + submission.created.text
            td(data-label='Title')
              a.f-subheading.lk-rainbows.md-markdown.md-markdown-inline(href=submission.href, target=submission.target)!=submission.titleHtml
            td.bg-badge-cell(data-label='Type')
              span(class='bg-badge wur-type-' + submission.type)=submission.type
            td.bg-badge-cell(data-label='Status')
              span(class='bg-badge wur-status-' + submission.status)=submission.status
            td.wur-buttons(data-label='Actions')
              - rejection = (submission.status === 'rejected' ? ' wur-disabled-action' : '')

              span(
                class='wur-share ar-button lk-icon fa fa-share' + rejection,
                aria-label='Add this submission to the last updated draft',
                data-slug=submission.slug
              )

              if submission.status === 'accepted'
                a.ar-button.lk-icon.fa.fa-heartbeat(
                  href='/api/weeklies/submissions/' + submission.slug + '/use',
                  aria-label='Mark this link submission as used',
                  data-taunus-ignore
                )
              else
                a(
                  class='ar-button lk-icon fa ' + (submission.status === 'used' ? 'fa-heart' : 'fa-heart-o'),
                  href='/api/weeklies/submissions/' + submission.slug + '/accept',
                  aria-label='Mark this link submission as accepted',
                  data-taunus-ignore
                )

              a(
                class='ar-button lk-icon fa fa-deaf' + rejection,
                href='/api/weeklies/submissions/' + submission.slug + '/reject',
                aria-label='Mark this link submission as rejected',
                data-taunus-ignore
              )

              a.ar-button.lk-icon.fa.fa-pencil(
                href='/weekly/submissions/' + submission.slug + '/edit',
                aria-label='Edit this link submission'
              )

              a.ar-button.lk-icon.fa.fa-remove.wur-remove(
                aria-label='Delete this link submission',
                data-slug=submission.slug
              )

  include ../../partials/aside
