section#empty-entry-template.template
  article.blog-entry.empty-blog-entry
    header.blog-entry-title
      h1='No posts'

    section
      p
        span='No posts found for '
        i='{{title}}'

      p
        span='Try one of the posts in the '
        i='Latest'
        span=' section, or go back to the '
        a(href='/', title=config.site.title)='site home'