section#blog-entries-template.template(data-class='blog-entries-wrapper')
  section.blog-entries
    // {{#entries}}
    article.blog-entry
      header.blog-entry-title
        h1
          a(href='{{url}}')='{{title}}'
        span.blog-entry-date(title='{{updatedText}}')='updated {{updatedTimeAgo}}'

      section.blog-entry-brief='{{{html.brief}}}'
      section.blog-entry-text='{{{html.text}}}'
    // {{/entries}}

  aside.blog-sidebar.flip-wrapper
    article.flip-card
      section#latest-posts.face.front
        header
          h5.underline='Latest'

        section
          nav
            a='latest'
            a='earlier'
            a='etc'

      section#about-author.face.back
        header
          h5.underline='About'
        section='about me...'
        footer
          button.zocial.icon.stackoverflow
          button.zocial.icon.linkedin
          button.zocial.icon.twitter
