section#blog-entries-template.template(data-class='blog-entries-wrapper')
  section.blog-entries
    // {{#entries}}
    article.blog-entry
      header.blog-entry-title
        h1
          a(href='{{url}}')='{{title}}'
        span.blog-entry-date(title='{{updatedText}}')='updated {{updatedTimeAgo}}'

      section.blog-entry-brief='{{{html.brief}}}'
      section.blog-entry-text='{{{html.text}}}'
    // {{/entries}}

  aside.blog-sidebar
    a.button.author-info-icon(title='About the author')
    header
      h5.underline='Latest'
    nav.blog-sidebar-latest
      a='latest'
      a='earlier'
      a='etc'
