div
  a(href!=authority + host.permalink)
    h1!=host.titleHtml

div(style='background-color: #900070; color: #fcfcfc; padding: 8px; border-bottom: 2px solid #ffe270;')
  -  site = comment.site && comment.site.replace(/https?:\/\//, '');
  if site
    a(href!=comment.site, style='color: #fcfcfc')
      img(src='cid:gravatar', alt='', style='vertical-align: middle;')
      span!='&nbsp;'
      span=' ' + comment.author
  else
    img(src='cid:gravatar', alt='', style='vertical-align: middle;')
    span!='&nbsp;&nbsp;'
    span=' ' + comment.author
  span=' posted a new comment!'

div.md-markdown(style='padding: 20px; background-color: #fcf9ee;')!=comment.content

div(style='text-align: center;', itemprop='potentialAction', itemscope, itemtype='http://schema.org/ViewAction')
  meta(itemprop='name', content='Reply')
  meta(itemprop='description', content='Reply to Comment – Pony Foo')
  span(itemprop='target')
    a(itemprop='url', style='margin-top: 25px; padding: 20px; background-color: #1686a2; color: #fff; border-bottom: 2px solid #5aa9bc; display: inline-block; font-size: 28px;', href=authority + comment.permalink) Reply

div(style='margin-top: 15px; text-align: center;') {{{comment_removal_link_html}}}
