div
  a(href!=domain.authority + article.permalink)
    h1=article.title

p(style='background-color: #f3720d; color: #fcfcfc; padding: 8px; border-bottom: 2px solid #e92c6c;')
  -  site = comment.site && comment.site.replace(/https?:\/\//, '');
  if site
    a(href!=comment.site)
      img(src='cid:gravatar', alt='', style='vertical-align: middle;')
      span!='&nbsp;&nbsp;'
      span=' ' + comment.author
  else
    img(src='cid:gravatar', alt='', style='vertical-align: middle;')
    span!='&nbsp;&nbsp;'
    span=' ' + comment.author
  span=' posted a new comment!'

div(style='padding: 20px; background-color: #fff9f4;')!=comment.content

p
  span='Reply using '
  a(href!=domain.authority + comment.permalink) this link
  span .
