header.dc-header
  h1.dc-heading=profile.displayName
  div.dc-role
    span==profile.role + '.'
    span=' '
    if articleCount
      span Wrote
      span=' '
      span=articleCount
      span=' '
      span articles for Pony Foo.
    if profile.twitter
      span=' '
      span Tweets as
      span=' '
      a.lk-link.lk-twitter(href='https://twitter.com/' + profile.twitter, target='_blank', aria-label='Follow them on Twitter!')='@' + profile.twitter
      span .

article.de-host
  section.de-column.ib-contributor
    aside.ib-profile
      include contributor-profile

      if profile.bioHtml
        section.ib-bio.md-markdown!=profile.bioHtml

    article.ib-articles
      if articleCount
        include ../articles/list
      else
        section.ib-articles-text
          div There are no published articles authored by this writer yet.
          div
            span How did you even get here!?
            span=' '
            img.tj-emoji(draggable='false', alt='🌬', src='https://twemoji.maxcdn.com/2/72x72/1f32c.png')
            span=' Shoo, shoo!'
          div.ib-back-note
            span Please go back to the
            span=' '
            a.lk-link(href='/contributors', aria-label='Back to Pony Foo contributing author list') list of contributors
            span .
          div
            span Have you considered
            span=' '
            a.lk-link(href='/contributors/join-us') joining us?

    if articleCount
      footer.ib-footer.ib-articles-text
        div
          span Find every Pony Foo author in our
          span=' '
          a.lk-link(href='/contributors', aria-label='Back to Pony Foo contributing author list') list of contributors
          span .
        div
          span Have you considered
          span=' '
          a.lk-link(href='/contributors/join-us') joining us?

  include ../partials/aside
