header.dc-header
  h1.dc-heading=profile.displayName
  div.dc-role
    span Contributing writer.
    span=' '
    if articleCount
      span Wrote
      span=' '
      span=articleCount
      span=' '
      span articles for Pony Foo.
    if profile.twitter
      span=' '
      span Tweets as
      span=' '
      a.lk-link.lk-twitter(href='https://twitter.com/' + profile.twitter, target='_blank', aria-label='Follow them on Twitter!')='@' + profile.twitter
      span .

article.de-host
  section.de-column.de-column-padded
    aside.rt-profile
      include writer-profile

      section.rt-bio.md-markdown!=profile.bioHtml

    article.rt-articles
      if articleCount
        include ../articles/list
        footer.rt-articles-text
          span Find every Pony Foo contributing author in our
          span=' '
          a.lk-link(href='/writers', aria-label='Back to Pony Foo contributing author list') list of writers
          span .
      else
        section.rt-articles-text
          p There are no published articles authored by this writer yet.
          p
            span How did you even get here!?
            span=' '
            img.tj-emoji(draggable='false', alt='🌬', src='https://twemoji.maxcdn.com/2/72x72/1f32c.png')
            span=' Shoo, shoo!'
          p
            span Anyways, you may want to try going back to the
            span=' '
            a.lk-link(href='/writers', aria-label='Back to Pony Foo contributing author list') list of writers
            span .

  include ../partials/aside
