mixin speakingCta
  span.tku-map
    img(src=engagements.fullMap, alt='')
    a.tkf-contact.gg-container.bt-button.bt-pink(aria-label='Shoot me an email and we\'ll discuss it.', data-email='mailto:speaking@ponyfoo.com')
      span.bt-text Let's talk!
      include ../partials/button-background

mixin dateRange (t)
  each date, i in t.range.dates
    if i > 0
      span.tk-day-separator=t.range.dates[i - 1][1] ? ' \u2014 ' : '\u2014'
    strong.tk-day=date[0]
    if date[1]
      span.tk-month-separator=' '
      span.tk-month=date[1]
  span=' '
  span.tk-year=t.range.year

section.tkfm-container
  img.tkfm-static(src=engagements.fullMap, alt='')
  div.tkfm-interactive.tkfm-interactive-unloaded
  div.tkfm-interact.uv-hidden Want to take a look around?

article.tk-container
  header
    h1.tk-heading Upcoming Conference Appearances

  ol.tku-list
    each t in engagements.upcoming
      li.tku-item
        span.tk-range(aria-label=t.range.title)
          +dateRange(t)
        div.tku-site-container
          a.tk-site(href=t.website, target='_blank')=t.conference
        div
          span.tk-venue-connector='At '
          span=t.venue
        a.tku-map(href=t.map.link, target='_blank')
          img(src=t.map.image, alt='')
          ul.tku-tags.tk-tags
            each tag in t.tags
              li.tku-tag.tk-tag=tag

    li.tku-item
      span.tkf-connector In the
      span=' '
      span future
      span.tkf-connector , at your
      span=' '
      span events
      span.tkf-connector .
      div.tku-site-container Want me to speak or run a workshop at your event?
      +speakingCta

article.tk-container
  header
    h2.tk-heading Conference Appearances in the Past

  ol.tkp-list
    each t in engagements.past
      li.tkp-item.uv-clearfix
        a.tk-site(href=t.website, target='_blank')=t.conference
        span.tkp-venue-connector.tk-venue-connector=' at '
        a.tkp-venue.tk-venue(href=t.map.link, target='_blank')=t.venue
        ul.tkp-tags.tk-tags
          each tag in t.tags
            li.tk-tag=tag
        span.tkp-range.tk-range(aria-label=t.range.title)
          +dateRange(t)

article.tk-container
  header
    h2.tk-heading Talk Videos and Slides

    ol.pt-list
      each presentation in presentations
        li.pt-item
          h2.pt-title
            span=presentation.title
            a.pt-permalink.fa.fa-arrow-right(href='/presentations/' + presentation.slug, aria-label='Permalink to this presentation')
          include presentation-partial
article
  header
    h2.tk-heading Workshops and Presentations

  section.de-host
    div.tk-container.de-column
      img.tks-image(src='/img/speaking.jpg', alt='')
      div.tks-image-footer
        sub
          span Photograph on stage, while presenting
          span=' '
          strong Practical ES6 for the Modern JavaScript Tinkerer
          span=' at '
          a.tks-image-link(href='http://2015.dotjs.eu/', target='_blank') dotJS in Paris
          span , 2015.
      div
        p Delivering a talk on something I'm passionate about is fun and exciting. I enjoy speaking about all things JavaScript, performance, maintainable code, and the open web.
        p My preferred format is to deliver 25&mdash;30 minute presentations where your audience will be inspired about a topic I deeply care about. There are topics that definitely deserve an extended treatment, though. In this case, limited-attendance workshops are a good fit where your audience can learn about a subject extensively.
        p I've delivered workshops on web performance before and I'm also interested in delivering workshops on ES6 as well as all things JavaScript. If you'd like to discuss the possibility of me running a workshop at your event, please use the contact button below and shoot me an email!

      section
        h2.tk-heading Want me to speak or run a workshop at your event?
        +speakingCta

    include ../partials/aside
