p.pt-time
  span='Presented '
  time(datetime=presentation.presented.datetime, aria-label=presentation.presented.title)='on ' + presentation.presented.text
section.pt-embed-container
  div.pt-embeds
    if presentation.youtube
      section.pt-video.pt-youtube
        iframe.pt-video-frame.pt-youtube-frame(
          allowfullscreen,
          allowtransparency,
          mozallowfullscreen,
          webkitallowfullscreen,
          frameborder='0',
          data-src=presentation.youtube
        )
    else if presentation.vimeo
      section.pt-video.pt-vimeo
        iframe.pt-video-frame.pt-vimeo-frame(
          allowfullscreen,
          allowtransparency,
          mozallowfullscreen,
          webkitallowfullscreen,
          frameborder='0',
          data-src=presentation.vimeo
        )
    else
      section.pt-video.pt-empty
        span.pt-empty-text No live-recorded presentation video yet!
    if presentation.speakerdeck
      section.pt-speakerdeck
        iframe.pt-speakerdeck-frame(
          allowfullscreen,
          allowtransparency,
          mozallowfullscreen,
          webkitallowfullscreen,
          frameborder='0',
          data-src='https://speakerdeck.com/player/' + presentation.speakerdeck
        )
    else
      section.pt-speakerdeck.pt-empty
        span.pt-empty-text No presentation slides yet!
section.pt-description.md-markdown!=presentation.description
ul.pt-resources
  each r in presentation.resources
    li.pt-resource
      a.pt-resource-link.md-markdown(href=r.url, target=r.target)!=r.title
