article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title Users
    section.usr-container
      div.usr-actions
        a.usr-action.lk-icon.fa.fa-pencil-square-o(href='/users/new', aria-label='Generate a new user')
      table
        thead
          tr
            th
            th Created
            th Name
            th Email
            th Roles
            th Actions
        tbody
          each u in users
            tr
              td.usr-avatar(data-label='Profile')
                if u.active && u.slug
                  a.av-website(href='/contributors/' + u.slug, aria-label='Visit their profile')
                    img.av-avatar(src=u.avatar, alt='')
                else
                  img.av-avatar(src=u.avatar, alt='')
              td.usr-date(data-label='Created')
                time(datetime=u.created.datetime, aria-label='Created ' + u.created.title)=u.created.text
              td(data-label='Name')
                if u.active && u.slug
                  a.lk-rainbows(href='/contributors/' + u.slug, aria-label='Check out their contributor profile')=u.displayName
                else
                  span=u.displayName
              td(data-label='Email')
                a.lk-rainbows(data-email='mailto:' + u.email, aria-label='Send them an email.')=u.email
              td.usr-roles(data-label='Roles')!=u.roles
              td.usr-buttons(data-label='Actions')
                if currentUser !== u.id
                  a.usr-button.lk-icon.fa.fa-user-secret(href='/api/impersonation/' + u.id + '/impersonate', aria-label='Impersonate this user')
                a.usr-button.lk-icon.fa.fa-pencil(href='/users/' + u.id + '/edit', aria-label='Edit this user')
                a.usr-button.lk-icon.fa.fa-remove.lk-icon.fa.fa-remove.usr-remove(aria-label='Delete this user', type='submit', data-id=u.id)

  include ../../partials/aside
