section.authentication-providers
  p.authentication-provider-links
    span.label='Providers'
    a.social.google(href=config.auth.google.link, title='Authenticate with Google')='Authenticate with Google'
    a.social.github(href=config.auth.github.link, title='Authenticate with GitHub')='Authenticate with GitHub'
    a.social.facebook(href=config.auth.facebook.link, title='Authenticate with Facebook')='Authenticate with Facebook'
    a.social.linkedin(href=config.auth.linkedin.link, title='Authenticate with LinkedIn')='Authenticate with LinkedIn'

  p.authentication-alternative
   span='- or the '
   i='ancient'
   span=' way -'