section#user-profile-template.template
  // {{#me}}
  section.user-profile-actions
    a.action.edit(href='/user/profile/{{_id}}/edit', title='Edit')='Edit'
  // {{/me}}
  h1='{{profileTitle}}'

  article.user-profile-card
    img.user-gravatar.large(data-src='{{gravatarLarge}}')

    section.user-profile-info
      p
        span.label='member for'
        span(data-hint='registered on {{createdText}}')='{{duration}}'

      p
        span.label='website'
        // {{#website}}
        a.highlighted-link(href='{{website.href}}', data-hint='{{website.title}}')='{{website.title}}'
        // {{/website}}
        // {{^website}}
        span='(none)'
        // {{/website}}

  // {{#bioHtml}}
  article.user-profile-bio
    header
      h3='About'

    section.markdown='{{{bioHtml}}}'
  // {{/bioHtml}}