section#user-profile-template.template
  h1='{{profileTitle}}'

  article.user-profile-card
    // {{#me}}
    section.user-profile-actions
      a.action.edit(href='/user/profile/{{_id}}/edit', title='Edit')='Edit'
    // {{/me}}

    img.user-gravatar.large(data-src='{{gravatarLarge}}')

    section.user-profile-info
      p
        span.label='member for'
        span(data-hint='registered on {{createdText}}')='{{duration}}'

      p
        span.label='website'
        // {{#website}}
        a(href='{{website.href}}', data-hint='{{website.title}}')='{{website.title}}'
        // {{/website}}
        // {{^website}}
        span='(none)'
        // {{/website}}

  article.user-profile-bio='{{{bioHtml}}}'