section#user-profile-edit-template.template
  span.profile-edit-notice='(editing)'
  h1='{{profileTitle}}'

  article.user-profile-card
    img.user-gravatar.large(data-src='{{gravatarLarge}}')

    section.user-profile-info
      p
        span.label='password'
        input(name='password', type='password', placeholder='{{passwordPlaceholder}}')

      p
        span.label='website title'
        input(name='website.title', placeholder='Your site title')='{{website.title}}'

      p
        span.label='website url'
        input(name='website.title', placeholder='Your site url')='{{website.url}}'

  div#wmd-button-bar-bio.wmd-button-bar
  div
    textarea#wmd-input-bio.wmd-input(placeholder='You can leave your bio here')='{{bio}}'

  article#wmd-preview-bio.user-profile-bio