section#user-profile-edit-template.template
  span.profile-edit-notice='(editing)'
  h1='{{profileTitle}}'

  article.user-profile-card
    img.user-gravatar.large(data-src='{{gravatarLarge}}')

    section
      p
        span='member for'
        span(data-hint='registered on {{createdText}}')='{{duration}}'

      p
        span='website'
        // {{#website}}
        a(href='{{website.href}}', data-hint='{{website.title}}')='{{website.title}}'
        // {{/website}}
        // {{^website}}
        span='(none)'
        // {{/website}}

  article.user-profile-bio='{{{biographyHtml}}}'