aside.de-sidebar.de-column
  include ad

  form#search.ly-section.de-search(action='/articles/search', method='get', name='search')
    div.de-search-label
      sub Search for articles
    - termsInputValue = query && query.replace(/"/g,'')
    input.de-input.sr-input(placeholder='e.g JavaScript', name='terms', value=termsInputValue)

    span.de-button(aria-label='Pro Tip: use "[js]" to search for article tags!')
      button.bt-button.bt-pink.sr-button(type='submit') Search

  if full
    include trivia

  form.ly-section.ss-container.de-subscribe(action='/api/subscribers', method='post', name='subscribe')
    div.ss-label
      strong Subscribe
      span=' to our mailing list and be the first to know when new articles come out!'
    div.ss-label.ss-unsubscribe
      sub
        span One-click unsubscribe, anytime.
        span=' '
        a.lk-link(href='/subscribe', aria-label='Subscribe to our mailing list') Learn more.

    noscript
      input.uv-verify(name='verify', value='Promise not to be a bot? Clear this field!', placeholder='This field is only for tricksters...')

    input.ss-source(type='hidden', name='source', value='sidebar')
    input.de-input.ss-input(placeholder='example@ponyfoo.com', name='subscriber', type='email')

    span.de-button(aria-label='As easy as clicking this button and confirming via email!')
      button.bt-button.bt-pink.ss-button(type='submit') Subscribe

  if popularArticles && popularArticles.length
    section.ly-section.de-hits
      h3 Greatest Hits
      ul.de-hit-list
        each article in popularArticles
          li.de-hit-item
            a.de-hit-text.lk-link.lk-link-to-green.lk-visitor-before.lk-visitor-before-no-underline.md-markdown.md-markdown-inline(
              href='/articles/' + article.slug,
              aria-label=moment(article.publication).format('(YYYY)') + ' Tagged: ' + article.tags.join(', ')
            )!=article.titleHtml

      p.md-markdown
        span='Pony Foo has been online for a while. Maybe you should check out the '
        a(href='/articles/history', aria-label='May contain traces of gems and packages') full article publication history
        span !
