aside.de-sidebar.de-column
  include ad

  form#search.ly-section.de-search(action='/articles/search', method='get', name='search')
    div.de-search-label
      sub Search for articles
    input.de-input.sr-input(placeholder='e.g JavaScript', name='terms', value=query && query.replace(/"/g,''))

    span.de-button(aria-label='Pro Tip: use "[js]" to search for article tags!')
      button.gg-container.bt-button.bt-pink.sr-button(type='submit')
        span.bt-text Search
        include ../partials/button-background

  if full
    include trivia

  form.ly-section.ss-container.de-subscribe(action='/api/subscribers', method='post', name='subscribe')
    div.ss-label
      strong Subscribe
      span=' to our mailing list and be the first to know when new articles come out!'
    div.ss-label.ss-unsubscribe
      sub
        span One-click unsubscribe, anytime.
        span=' '
        a.lk-link(href='/subscribe') Learn more.

    noscript
      input.uv-verify(name='verify', value='Promise not to be a bot? Clear this field!', placeholder='This field is only for tricksters...')

    input.ss-source(type='hidden', name='source', value='sidebar')
    input.de-input.ss-input(placeholder='you@provider.io', name='subscriber')

    span.de-button(aria-label='As easy as clicking this button and confirming via email!')
      button.gg-container.bt-button.bt-pink.ss-button(type='submit')
        span.bt-text Subscribe
        include ../partials/button-background

  if bioHtml
    section.ly-section.de-bio.md-markdown!=bioHtml

  if popularArticles && popularArticles.length
    section.ly-section.de-hits
      h3 Greatest Hits
      ul.de-hit-list
        each article in popularArticles
          li.de-hit-item
            a.de-hit-link(
              href='/articles/' + article.slug,
              aria-label=moment(article.publication).format('(YYYY)') + ' Tagged: ' + article.tags.join(', ')
            )
              span.de-hit-text!=article.titleHtml

      p.md-markdown
        span='Pony Foo has been online for a while. Maybe you should check out the '
        a(href='/articles/history') full article publication history
        span !
