- var pixel = 12, width = 30, height = 6, colors = ['#333','#1a1a1a','#555','#999','#444','#111']
svg.bt-background(xmlns='http://www.w3.org/2000/svg', width=width*pixel, height=height*pixel)
  - var x = -1
  while x++ < -1 + width
    - var y = -1
    while y++ < -1 + height
      rect(
        width=pixel,
        height=pixel,
        x=!!x&&x*pixel,
        y=!!y&&y*pixel,
        fill=colors[Math.floor(Math.random()*colors.length)]
      )
