- updated = article.updated
- publication = article.publication
if article.status === 'draft'
  label.at-estimate-label Draft
  span.at-estimate-value
    span=' updated '
    time(datetime=updated.datetime, aria-label='Updated ' + updated.title)=updated.text
else if article.status === 'publish'
  label.at-estimate-label Scheduled
  span.at-estimate-value
    span=' access '
    time(datetime=publication.datetime, aria-label='Publishing ' + publication.title)=publication.text
else if article.status === 'published'
  label.at-estimate-label Published
  span.at-estimate-value
    span=' '
    time(datetime=publication.datetime, aria-label='Published ' + publication.title)=publication.text
