div.wy-container
  div.wy-header
    a.wy-header-text(href=authority + '/weekly') Pony Foo Weekly
    span.wy-issue
      span='Issue #' + issue.slug
      span=' \u2014 '
      span(datetime=issue.publication.datetime, aria-label=issue.publication.title)=issue.publication.text
  div.wy-summary.md-markdown!=issue.summaryHtml
  div.wy-content!=issue.contentHtml

//- see on web
//- styles
//- linked data inline in email
