h2.vw-title
  span Subscribers
  if subscriberGraph.verified !== 0
    span=' '
    span='(' + subscriberGraph.verified + ')'
section.sg-options
  input.ck-input#sg-show-subscribers(type='checkbox', checked)
  label.ck-checkbox(for='sg-show-subscribers') Subscribers
  span=' '
  input.ck-input#sg-discriminate-subscribers(type='checkbox')
  label.ck-checkbox(for='sg-discriminate-subscribers') Discriminate
  span=' '
  input.ck-input#sg-show-pageviews(type='checkbox')
  label.ck-checkbox(for='sg-show-pageviews') Page Views
  span=' '
  input.ck-input#sg-wow-mode(type='checkbox')
  label.ck-checkbox(for='sg-wow-mode') Week Over Week
section.sg-container
