- longDate = 'dddd Do, MMMM YYYY [at] HH:mm'
- commentCount = article.commentCount

section.dm-container.ly-section
  header
    h3.dm-title Trivia Box

  div
    include estimate

  div
    label.dm-label Length
    span.dm-value
      span=' '
      span=moment.duration(article.readingTime, 'seconds').humanize().replace(/s$/, '')
      span=' read'

  div
    label.dm-label Comments
    span.dm-value
      span=' '
      a.lk-link.lk-green(href='#comments')=commentCount || 'None yet'

  div
    label.dm-label.dm-label-block Tagged
    span.dm-value.dm-value-block.lk-green
      include tags

  if article.related.length
    div
      label.dm-label.dm-label-block Similar Articles
      ul.dm-value.dm-value-block
        each related in article.related
          li.dm-related-item
            a.lk-link.lk-green(href='/articles/' + related.slug, aria-label='Read the article!')!=related.titleHtml
