- longDate = 'dddd Do, MMMM YYYY [at] HH:mm'
- commentCount = article.commentCount

section.dm-container.ly-section
  header
    h3.dm-title Trivia Box

  div
    label.dm-label Author
    span.dm-value
      span=' '
      if article.author.slug
        a.lk-link.lk-green(href='/contributors/' + article.author.slug)=article.author.displayName
      else
        span=article.author.displayName

      if article.author.twitter
        a.dm-author-social.lk-link.lk-twitter.fa.fa-twitter(
          href='https://twitter.com/' + article.author.twitter,
          target='_blank'
        )

      if article.author.website
        a.dm-author-social.lk-link.lk-black.fa.fa-bookmark(
          href=article.author.website,
          target='_blank'
        )

  div
    include estimate

  div
    label.dm-label Length
    span.dm-value
      span=' '
      span=moment.duration(article.readingTime, 'seconds').humanize().replace(/s$/, '')
      span=' read'

  div
    label.dm-label Comments
    span.dm-value
      span=' '
      a.lk-link.lk-green(href='#comments')=commentCount || 'None yet'

  div
    label.dm-label.dm-label-block Tagged
    span.dm-value.dm-value-block.lk-green
      include tags

  if article.related.length
    div
      label.dm-label.dm-label-block Similar Articles
      ul.dm-value.dm-value-block
        each related in article.related
          li.dm-related-item
            a.lk-link.lk-link-to-green.lk-visitor-before.lk-visitor-before-no-underline.md-markdown.md-markdown-inline(href='/articles/' + related.slug, aria-label='Read the article!')!=related.titleHtml
