section#blog-subscriptions.blog-sidebar-item
  header
    h5.underline='Subscribe!'

  if !user || !user.subscribed
    section
      p
        span='Receive '
        strong=blog.title
        span=' updates directly in your email! '
        em='No spam.'

      p='Unsubscribe at any time.'

      section.email-subscriptions-form
        if !user
          p
            input.email-subscription-input(type='email', placeholder='Enter your email address')

        p
          button.button.email-subscription(data-text='Subscribe', data-text-disabled='Subscribing...')='Subscribe!'

  if blog.social.rss
    section
      p
        span='Subscribe using our feed! '
        a.highlighted-link.hint(rel='nofollow', href='http://google.com/search?q=best+rss+readers', data-hint='Need a RSS reader?')='Got RSS?'

      p
        a.social.rss(title='Subscribe to the RSS feed', target='_blank', href=blog.social.rssXml)='RSS Feed'