section.social-shares
  a.tweet-btn.twitter-share-button(
    href='https://twitter.com/share',
    data-count='none',
    data-align='right'
    data-url=config.server.authority(slug) + '{{permalink}}',
    data-hashtags='{{hashtags}}',
    data-text='{{title}}',
    data-via='nzgb',
    data-related='nzgb,ponyfoo')
  
  div.buffer-btn
    a.buffer-add-button(
      href='http://bufferapp.com/add',
      data-count='none',
      data-via='nzgb',
      data-url=config.server.authority(slug) + '{{permalink}}',
      data-text='{{title}}',
      data-picture=blog.thumbnail)

  a.pocket-btn(
    href='https://getpocket.com/save',
    data-pocket-count='none',
    data-pocket-align='left',
    data-save-url=config.server.authority(slug) + '{{permalink}}',
    data-lang='en')