span.fn-social
  a.fn-link.lk-rainbows.fn-icon.fn-facebook(href='https://facebook.com/ponyfoo', target='_blank', aria-label='Like us on Facebook!')
    i.fa.fa-facebook
  span=' '
  a.fn-link.lk-rainbows.fn-icon.fn-twitter(href='https://twitter.com/ponyfoo', target='_blank', aria-label='Follow us on Twitter!')
    i.fa.fa-twitter
  span=' '
  a.fn-link.lk-rainbows.fn-icon.fn-slack(href='/slack', aria-label='Join us on Slack!')
    i.fa.fa-slack
  span=' '
  a.fn-link.lk-rainbows.fn-icon.fn-email(data-email='mailto:hello@ponyfoo.com', target='_blank', aria-label='Reach out to us!')
    i.fa.fa-envelope
  span=' '
a.fn-link.lk-rainbows(href='/about', aria-label='Learn more about Pony Foo') About
span=' '
a.fn-link.lk-rainbows(href='/articles/history', aria-label='Pony Foo has been online for a while!') History
span=' '
a.fn-link.lk-rainbows(href='/styleguide', aria-label='Learn about our design system') Style Guide
span=' '
a.fn-link.lk-rainbows(href='/contributors/join-us', aria-label='Join the team at Pony Foo') Write With Us
span=' '
a.fn-link.lk-rainbows(href='/weekly/sponsor', aria-label='Learn about our sponsorship opportunities and advertise with us!') Advertise
span=' '
a.fn-link.lk-rainbows(href='/subscribe', aria-label='Subscribe to our mailing list') Subscribe
span=' '
a.fn-link.lk-rainbows(href=rss, aria-label='Track the RSS feed and be the first to learn about freshly published content', target='_blank') RSS
span=' '
a.fn-link.lk-rainbows(href='/license') License
span=' '
a.fn-link.lk-rainbows(href='/privacy') Privacy
