//
  -

                                              ████████
                                              ████████
                                          ████████
                                          ████████
              ████████████    ████    ████████
              ████████████    ████    ████████
          ████████████████████████████████
          ████████████████████████████████
      ████████████████████████████████████
      ████████████████████████████████████
  ████████████████████████░░░░░░░░████████████
  ████████████████████████░░░░░░░░████████████
  ████████████████████████░░░░░░░░████████
  ████████████████████████░░░░░░░░████████
  ████████████████████████████████████████
  ████████████████████████████████████████
  ████████████████████████████████████████████
  ████████████████████████████████████████████
  ████████████████████████████████████████████
  ████████████████████████████████████████████
  ████████████████████████████████████████████
  ████████████████████████████    ████████████
  ████████████████████████████    ████████████
  ████████████████████████████████
  ████████████████████████████████
  ████████████████████████████████████
  ████████████████████████████████████

     – @nzgb

          very semver #{model.pkg.version}
doctype html
html(lang='en', itemscope, itemtype='http://schema.org/Blog')
  head
    title=model.title
    meta(charset='utf-8')

    //- https://mathiasbynens.be/notes/touch-icons#sizes
    link(rel='icon', sizes='192x192', href='/touch-icon-192x192.png')
    link(rel='apple-touch-icon-precomposed', sizes='180x180', href='/apple-touch-icon-180x180-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/apple-touch-icon-152x152-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/apple-touch-icon-144x144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/apple-touch-icon-120x120-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/apple-touch-icon-76x76-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/apple-touch-icon-precomposed.png')

    link(rel='alternate', type='application/rss+xml', href=model.env.authority + '/articles/feed')
    link(rel='search', type='application/opensearchdescription+xml', title='Pony Foo', href=model.env.authority + '/opensearch.xml')

    if model.meta.canonical
      link(rel='canonical', href!=model.env.authority + model.meta.canonical)

    link(rel='manifest', href='/manifest.json')
    meta(name='mobile-web-app-capable', content='yes')

    meta(name='theme-color', content='#f1e05a')
    meta(name='msapplication-navbutton-color', content='#f1e05a')
    meta(name='apple-mobile-web-app-status-bar-style', content='#f1e05a')

    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', itemprop='creator', content!=author.contact)

    if model.meta.keywords && model.meta.keywords.length
      meta(name='keywords', content=model.meta.keywords.join(','))

    meta(name='description', property='og:description', itemprop='description', content=model.meta.description)
    meta(property='og:site_name', content='Pony Foo')
    meta(property='og:url', itemprop='url', content=model.meta.canonical)
    meta(name='twitter:title', itemprop='name', property='og:title', content=model.title)
    meta(name='twitter:description', content=model.meta.description)
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@ponyfoo')
    meta(name='twitter:creator', content=author.twitter)

    each image, i in model.meta.images
      meta(property='og:image', itemprop=i === 0 && 'images', content=image)

    //- twitter only cares about the last meta image, repeat the cover
    if model.meta.images.length
      meta(name='twitter:image:src', content=model.meta.images[0])

    if model.inlineStyles
      style=model.inlineStyles.value
      script!=styleLoader
      noscript
        link(rel='stylesheet', type='text/css', href='/css/all.css')
    else
      link(rel='stylesheet', type='text/css', href='/css/all.css')

    script!=fontLoader

    noscript
      style.
        .js-only{display:none !important}

  body#top
    header.ly-header.vw-title
      h1.go-logo-container
        span.go-anchor.gg-container
          include logo
        span.go-text-wrapper
          a.go-text(href='/') ponyfoo.com
      nav.hn-navigation
        ul.hn-list
          li.hn-item
            a.hn-link(href='/', aria-label='Your planet needs you.') Home
          li.hn-item
            a.hn-link(href='/talks', aria-label='I started speaking at conferences in 2014. Find videos, slides, and upcoming engagements.') Talks
          li.hn-item
            a.hn-link(href='/articles/history', aria-label='Pony Foo has been online for a while. Get access to the full article publication history from here.') Articles
          li.hn-item
            a.hn-link(href='/articles/feed', aria-label='Track the RSS feed and be the first to learn about freshly published content.', target='_blank') RSS
          li.hn-item
            a.hn-link(href='https://bevacqua.io', aria-label='Learn more about me.', target='_blank') About

    if model.flash
      include flash

    include navigation

    main.ly-main!=partial

    footer.ly-footer
      p
        span='The contents distributed in this site are licensed under a '
        a.ly-license(href='https://creativecommons.org/licenses/by-nc/2.5/', target='_blank') Creative Commons Attribution-NonCommercial 2.5 License
        span .

    script!=javascriptLoader
