//
  -            such pony !
    @nzgb
        so buildfirst#          __|_\_
                              =u__.-.__)
     http://ponyfoo.com           /_/

          very semver #{model.pkg.version}
doctype html
html(lang='en', itemscope, itemtype='http://schema.org/Blog')
  head
    title=model.title
    style
    meta(charset='utf-8')

    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='alternate', type='application/rss+xml', href=model.env.authority + '/articles/feed')
    link(rel='search', type='application/opensearchdescription+xml', title='Pony Foo', href=model.env.authority + '/opensearch.xml')
    link(rel='canonical', href!=model.env.authority + model.meta.canonical)

    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', itemprop='creator', content!=author.contact)

    if model.meta.keywords && model.meta.keywords.length
      meta(name='keywords', content=model.meta.keywords.join(','))

    meta(name='description', property='og:description', itemprop='description', content=model.meta.description)
    meta(property='og:site_name', content='Pony Foo')
    meta(property='og:url', itemprop='url', content=model.meta.canonical)
    meta(name='twitter:title', itemprop='name', property='og:title', content=model.title)
    meta(name='twitter:description', content=model.meta.description)
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@ponyfoo')
    meta(name='twitter:creator', content=author.twitter)

    each image, i in model.meta.images
      meta(property='og:image', itemprop=i === 0 && 'images', content=image)

    //- twitter only cares about the last meta image, repeat the cover
    if model.meta.images.length
      meta(name='twitter:image:src', content=model.meta.images[0])

    //- asynchronous font loading
    script.
      ~function(e,t,n){function o(){n&&n[d]?c(n[d]):n&&XMLHttpRequest?o():0===t.cookie.indexOf(d)?a():s(e,'load',a)}function o(){var e=new XMLHttpRequest;e.open('GET',r,!0),s(e,'load',function(){4===e.readyState&&(c(e.responseText),n[d]=e.responseText)}),e.send()}function a(){var e=t.createElement('link');e.href=r,e.rel='stylesheet',e.type='text/css',i.appendChild(e),t.cookie=d}function c(e){var n=t.createElement('style');n.innerHTML=e,i.appendChild(n)}function s(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent?e.attachEvent('on'+t,n):e['on'+t]=n}var i=t.getElementsByTagName('head')[0],d='fonts',r='/css/fonts.css';o()}(window,document,localStorage)

    noscript
      link(rel='stylesheet', type='text/css', href='/css/fonts.css')

  body
    a.nv-search#top(href='#search')
      span Q

    header.ly-header.vw-title
      h1.ly-title
        a.ly-title-anchor(href='/', aria-label='Go to home') Pony Foo
      h2.ly-legend Ramblings of a degenerate coder

    if model.flash
      include flash

    include navigation

    main.ly-main(data-taunus='model')!=partial

    include aside

    script(type='text/x-taunus', data-taunus='model')=JSON.stringify(model)

    noscript
      link(rel='stylesheet', type='text/css', href='/css/all.css')

    script.
      ~function(d,s,r){s=d.createElement('link');r=d.getElementsByTagName('head')[0];s.rel='stylesheet';s.href='/css/all.css';s.media='only x';r.appendChild(s);setTimeout(function(){s.media='all'})}(document)

    script.
      ~function(w,m,e){function d(){e=m.createElement('script');e.src='/js/all.js';m.body.appendChild(e)}if(w.addEventListener)w.addEventListener('load',d,!1);else if(w.attachEvent)w.attachEvent('onload',d);else w.onload=d}(window,document)
