meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

title=config.site.title

meta(name='description', content=config.site.description)
meta(name='author', content=config.blogger.email)
meta(name='viewport', content='width=device-width, initial-scale=1')

include ../shared/_og

link(rel='alternate', type='application/rss+xml', href=config.feed.proxy)
link(rel='search', type='application/opensearchdescription+xml', title=config.site.title, href=config.opensearch.href)
link(rel='shortcut icon', href='/favicon.ico')