extends minimal

block head
  title='NBrut Installation'

block body
  header.layout-header.clearfix
    section.layout-heading
      h1.layout-title="'Hello NBrut';"
      h2.layout-legend='Quickly set up NBrut in your server environment'

  article#content
    h1='Form Time!'

    section.setup
      form(method='post')
        fieldset
          p
            label(for='email')='Email'
            input#email.field(type='text', name='user.email', placeholder='Provide your email')
          p
            label(for='password')='Password'
            input#password.field(type='password', name='user.password', placeholder='Choose your password')
          p
            label(for='title')='Blog Title'
            input#title.field(type='text', name='blog.title', placeholder='Pick a blog name')
          p.setup-buttons
            input(type='submit', value='Setup')

    section.happy-talk.markdown
      header
        h1='Is that all?'

      :markdown
        In the extremely unlikely case you have _no clue_ what you've been doing, this is [**NBrut**](https://github.com/bevacqua/NBrut "Repository on GitHub"). **NBrut** is a blogging platform that allows users to create their own blogs easily.

        **NBrut** is different in that it focuses primarily on providing a _smooth user experience_, a reasonable _user interface_ and is aimed to _technical blogging_, providing access to the [Markdown](http://daringfireball.net/projects/markdown/ "Markdown Language") syntax.

        ![homer.gif](/img/homer.gif "Enough happy talk")

        _**Submit the form already!**_
