extends ../layouts/minimal

block title
  title='Blogging, Revisited - Pony Foo'

block body
  header#top-navigation
    nav.fluid-center
      ul
        li.top
          a(href='#top')='Home'
        li.features
          a(href='#features')='Features'
        li.hop-in
          a(href='#hop')='Hop in!'
        li.about
          a(href='#about')='About'

  main#content
    article#top.market-section(data-nav='.top')
      section.fluid-center
        header
          h1='NBrut'
          h2='What\'s waiting for me?'

        section.left
          a(href=config.pkg.homepage, target='_blank', title='Visit NBrut on GitHub')
            img.icon-128(src='/img/icon-128.png?v=1', alt='')

        section.right
          ul.item-list
            li='A blogging platform targeted at software developers'
            li
              span='100% open-source, publicly available on '
              a.highlighted-link(href=config.pkg.homepage, target='_blank', title='Visit NBrut on GitHub')='GitHub'
            li='Bleeding edge. Developed entirely in NodeJS'

    article#features.market-section(data-nav='.features')
      section.fluid-center
        header
          h1='Features'
          h2='What\'s in it for me?'

        section
          ul
            li.feature
              span.market.quick
              p='Quick start, ease of use'

            li.feature
              span.market.design
              p='Responsive, sharp design'

            li.feature
              span.market.ajax
              p='Single Page AJAX Application'

            li.feature
              span.market.md-editor
              p='Markdown support for bloggers and commenters alike'

            li.feature
              span.market.meta
              p='Metadata intensive'

            li.feature
              span.market.rest-api
              p='REST API'

    article#hop.market-section(data-nav='.hop-in')
      section.fluid-center
        header
          h1='Hop in, then'
          h2='It\'s fast, easy, and free!'

        section
          input(placeholder='Type an identifier to check availability', value)

    article#about.market-section(data-nav='.about')
      section.fluid-center
        header
          h1='About'
          h2='Who\'s behind this?'

  section.fixed-navigation
    a.prev
      span

    a.next
      span

  include _footer-navigation
  include _ribbon