section.fluid-center
  header
    h1='Features'
    h2='What\'s in it for me?'

  section
    ul
      li.feature
        span.market.quick
        p='Quick start, ease of use'

      li.feature
        span.market.design
        p='Responsive, sharp design'

      li.feature
        span.market.ajax
        p='Single Page AJAX Application'

      li.feature
        span.market.md-editor
        p='Markdown support for bloggers and commenters alike'

      li.feature
        span.market.meta
        p='Metadata intensive'

      li.feature
        span.market.rest-api
        p='REST API'