section.fluid-center
  header
    h1
      span='NBrut'
      span.tagline='\'the open-source blogging engine for developers\';'

    h2='What\'s waiting for me?'

  section.left
    a(href=config.pkg.homepage, target='_blank', title='Visit NBrut on GitHub')
      img.icon-256(src='/img/icon-256.png?v=1', alt='')

  section.right
    ul.item-list
      li='A blogging platform targeted at software developers'
      li
        span='100% open-source, publicly available on '
        a.highlighted-link.hint(href=config.pkg.homepage, target='_blank', data-hint='Visit NBrut on GitHub')='GitHub'

      li='A simple, elegant, and responsive design'
      li='Bleeding edge. Developed entirely in NodeJS'
      li='Frequently updated with new features'

  section.availability-checker
    section.availability-input
      input.identifier(placeholder='Type your vanity title', value=query.q, maxlength='32')
      span.availability
        span.loading-block
        span.loading-block
        span.loading-block

    span.legend
      span='e.g: '
      strong='nbrut '
      span.absolute='becomes ' + config.server.hostSlug('nbrut')

  section.availability-checker-buttons
    button.proceed(title='Just one more step', disabled)
      span.proceed-text='Register'
      i.proceed-tip