!= config.site.doctype

html(lang='en')
  head
    include /src/frontend/views/metadata
    title='The Nerd Blogging Platform - Pony Foo'

    != assetify.css.emit(profile)
    link(href='http://fonts.googleapis.com/css?family=Roboto|Roboto:300|Roboto:900', rel='stylesheet')

  body
    div.container-fluid
      div.row-fluid.row-heading
        div.span4
          h1.icon='Pony Foo'

        div.span8
          header.title
            h1.title-heading='Pony Foo'
            p.title-caption='The Nerd Blogging Platform'

    div.container-fluid.container-promotional
      div.row-fluid
        div.span6
          div.video-wrapper
            div.video.video-promotional
              iframe(src='https://www.youtube.com/embed/a5MTWzS8hFw', allowFullScreen)

        div.span6
          div.video-info-wrapper
            p.super-lead='Glimpse into the next generation blogging experience'
            p.video-caption='This introductory video will let you peek at the features provided by our platform. We value usability and clean design more than anything else, and we\'re opening our platform to prove it.'
            
            ul.video-list
              li='We believe in redundancy'
              li='We believe in redundancy'

    div.container-fluid.container-subscribe
      div.row-fluid
        div.span12
          div.subscribe-wrapper
            p.super-lead.text-center='Subscribe to our newsletter'
            p.lead.text-center='Be the first to know when you can start building an awesome blog!'
            form.form-inline.text-center
              input.subscribe-email(type='text', placeholder='Your Email')
              button.btn.btn-subscribe.fui-mail

    div.container-fluid.container-features
      div.row-fluid
        div.span12
          div.features-wrapper
            p.lead='Features'
            p.lead='Features'
            p.lead='Features'
            p.lead='Features'

          a.tweet(href='https://twitter.com/share', class='twitter-share-button', data-via='ponyfoo', data-related='ponyfoo,nzgb')='Tweet'

    != assetify.js.emit(profile)