!= config.site.doctype

html(lang='en')
  head
    include /src/frontend/views/metadata
    title='The Nerd Blogging Platform - Pony Foo'

    != assetify.css.emit(profile)
    link(href='http://fonts.googleapis.com/css?family=Roboto|Roboto:300|Roboto:900', rel='stylesheet')

  body
    div.container-fluid
      div.row-fluid.row-heading
        div.span4
          h1.icon='Pony Foo'

        div.span8
          header.title
            h1.title-heading='Pony Foo'
            p.text-right='The Nerd Blogging Platform'

    div.container-fluid.container-promotional
      div.row-fluid
        div.span6
          div.video-wrapper
            div.video.video-promotional
              iframe(src='https://www.youtube.com/embed/a5MTWzS8hFw', allowFullScreen)

        div.span6
          div.video-info-wrapper
            p.super-lead='Glimpse into the next generation blogging experience'
            p.video-caption='This introductory video will let you peek at the features provided by our platform. We value usability and clean design more than anything else, and we\'re opening our platform to prove it.'
            
            div.row-fluid.video-notes
              div.span6
                span.fui.fui-cmd
                span='Completely '
                a(href='https://github.com/bevacqua/ponyfoo', target='_blank')='Open Source'

              div.span6
                span.fui.fui-search
                span='Well '
                a(href='docs', target='_blank')='documented'

            div.row-fluid.video-notes
              div.span6
                span.fui.fui-radio-checked
                span='Focused in simplicity'
                
              div.span6
                span.fui.fui-heart
                span='Built with love'

    div.container-fluid.container-subscribe
      div.row-fluid.row-features-title
        div.span12
          p.super-lead.text-center='The Goods!'
          p.lead.text-center='Learn a bit more about our platform'

      div.row-fluid.row-features
        div.span4.feature-span
          div.feature-box
            p.fui.fui-new
            p.feature-name='Plain Text'
            p='We picked Markdown to give format to your articles. Once you learn it, you\'ll fall in love.'
            p
              span='Head over to our '
              a(href='/docs/markdown', target='_blank')='Markdown documentation'
              span=' and get started today.'

        div.span4.feature-span
          div.feature-box
            p.fui.fui-eye
            p.feature-name='Design That Matters'
            p='The entire design was done with mobile in mind, rather than as an after thought.'
            p='As a result, blogs are beautiful in mobile as well as in desktop and tablets.'

        div.span4.feature-span
          div.feature-box
            p.fui.fui-chat
            p.feature-name='Focus On Content'
            p='Blogging is supposed to be easy. Just write your articles and publish them.'
            p='We deal with email subscriptions, feeds and social marketing, so you don\'t have to.'

      div.row-fluid.row-features
        div.span4.feature-span
          div.feature-box
            p.fui.fui-user
            p.feature-name='Familiarity'
            p='We stick with what your visitors already love and know. No reason to re-invent the wheel.'
            p='Social logins, gravatars, and being awesome are features that can\'t be missing in modern web applications.'

        div.span4.feature-span
          div.feature-box
            p.fui.fui-gear
            p.feature-name='Adaptability'
            p='Show as much or as little information about yourself as you like.'
            p='Style your blog in an elegant way that is eye-catching and unique.'

        div.span4.feature-span
          div.feature-box
            p.fui.fui-list
            p.feature-name='Metadata By Coincidence'
            p='Your readers will benefit from being able to pick and choose from a wide array of writers.'
            p='You don\'t have to worry about SEO. We take care of that for you.'

      div.row-fluid.row-subscribe
        div.span12
          p.super-lead.text-center='Subscribe to our newsletter'
          p.lead.text-center='Be the first to know when you can start building a really awesome blog!'
          form.form-inline.text-center
            span.subscribe-input.fui-mail
            input.subscribe-input.subscribe-email(type='text', placeholder='Your Email')
            button.subscribe-input.btn.btn-subscribe='Subscribe!'

    div.container-fluid.container-features
      div.row-fluid
        div.span12
          div.features-wrapper
            p.lead='Features'
            p.lead='Features'
            p.lead='Features'
            p.lead='Features'

          a.tweet(href='https://twitter.com/share', class='twitter-share-button', data-via='ponyfoo', data-related='ponyfoo,nzgb')='Tweet'

    != assetify.js.emit(profile)